[2014-12-01 22:26] mepps opened #1 "Source Data: DC Average is missing from the majority of schools for in-seat attendance"
The key state_in_seat_attendance is missing for 2014 attendance.json and that is causing the error.

[2014-12-01 22:27] mepps opened #2 "Formatting: Incorrect statement on suspension exhibit that states "This school does not have any…" for all subgroups"
The problem is that in the DC level data the subgroups have different keys. For example, "sped" is named "special education". The code checks for the names of subgroups for any school or state for that exhibit, then compares that against the data available for this specific exhibits. Any extra exhibit keys are matched and then recorded in the bottom blurb. Let me know if you have questions.

[2014-12-01 22:29] mepps opened #3 "Source Data: Midyear Withdrawal and entry—8 out of 9 schools had a discrepancy"
Discrepancy was either with an incorrect number, a missing DC Average, or missing line graph on the chart.

This is an issue of missiong or incorrect source data.

[2014-12-01 22:30] mepps opened #4 "Source Data: Midyear Entry and Withdrawal DC Average is missing from the majority of schools"
The DC average was missing from the source. The key was state_net_cumulative.

[2014-12-01 22:30] mepps opened #5 "Source Data: Most of the schools are listed as having 1% expulsion rate and having 1 student expelled (regardless of the real data)"
My understanding is that this was an error in the R script.

[2014-12-01 22:31] mepps opened #6 "Front-End: DC CAS proficiency discrepancies"
A few school have what appears to be discrepancies with one subgroup (either school or city-wide) having an artificially high rate.  I didn’t check these numbers against real numbers, but eyeballing them they looked incorrect.  For example, Achievement Prep Elementary has the DC Average for economically disadvantaged at 78% and 87% for math and reading respectively.  Cap City HS has those exact sa

[2014-12-01 22:32] mepps opened #7 "Source Data: MGP—Discrepancy: two have ZERO for some of the subgroups for their growth percentile"

[2014-12-01 22:34] mepps opened #8 "Source Data: Graduation rate — not all subgroups listed"
The subgroups listed are the only subgroups in the data for that school. We believe this may be the less than 10 error and our understanding is that this data was supposed to have been pushed in one of the recent data commits from OSSE. Meaning that even if the size of the sample was too small, the subgroups should have been included in the data.

[2014-12-01 22:34] mepps opened #9 "TBD: SPED—all schools appeared to have at least one discrepancy, either with overall rates or with SPED level, or with one of the metrics missing"
More specificity would be helpful but missing numbers or subgroups mean they are missing in the source data.

[2014-12-02 15:09] mepps opened #10 "Source Data: MGP Data by Gender still needed"

[2014-12-02 15:13] psteininger opened #11 "Source Data: Multiple Exhibits: Malformed JSON on "org_name" and "timestamp""
after each push, between 20 - 50 different exhibits in various org_type/org_code directories have leading and/or trailing new line characters within double quotes. This is not valid JSON and fails when parsing.

I use my IDE to search and replace using the following regular expressions:
[code]

[2014-12-02 15:15] psteininger opened #12 "Source Data: Orphan files in "school" and "lea" directories"
from time to time there are orphan files created and pushed up, which seemingly don't belong to any school. They likely end up in the root directory, because a directory was not created for that school or is not intended to be listed.

Could we add cleanup to the verification step?

[2014-12-02 15:21] psteininger opened #13 "Suggestion: Change JSON to expanded format"
Currently the JSON files are ad-hoc formatted, with the data portion of the exhibit being spit out on one line. I would suggest "pretty formatting" JSON, so that changes from the previous import are more apparent. Before the data lands in socialdirver/learndc-data we read in the file from DC-OSSE/LearnDCv2 parse the JSON, make alignments/corrections, and then unparse the JSON with pretty formattin

[2014-12-02 15:24] mepps opened #14 "Front-End: Midyear Entry and Withdrawal Labels Missing"
But data is there when you hover over data plots.

[2014-12-02 15:24] mepps opened #15 "Midyear Entry and Withdrawal Labels Missing"

[2014-12-02 16:49] gwenrr opened #16 "Front-end: Math MGP exhibit not left justified"
See for example, Anacostia HS, school code 450

[2014-12-02 17:47] #15 closed, assigned to nobody

[2014-12-02 18:00] gwenrr opened #17 "Front-End: Expulsion rates showing to two decimal places"
Should be none, as is suspension rate, right?

[2014-12-02 18:49] gwenrr opened #18 "Front-End: DC CAS state level averages"
State averages are wrong for most subgroups - most likely a problem on our end. We will investigate

[2014-12-02 19:25] mepps opened #19 "Source Data: Bancroft Elementary missing sped level 2 but data should be there"
http://learndc.localhost/schoolprofiles/view?s=0204#equityreport

look at sped level 2 data

[2014-12-02 22:02] #6 closed, assigned to mepps

[2014-12-02 22:03] #18 closed, assigned to nobody

[2014-12-02 22:23] #16 closed, assigned to mepps

[2014-12-03 16:21] gwenrr opened #20 "grade enrollment data missing for some public charter schools"
Currently sleuthing this out

[2014-12-03 17:35] gwenrr opened #21 "Formatting: grade level enrollment not showing for some public charter schools"
Example: School Code 1105 (Center City / Congress Heights).

Alex looked at JSON and says it looks right. So this may be a coding issue.

[2014-12-03 17:36] #20 closed, assigned to nobody

[2014-12-03 20:58] #17 closed, assigned to mepps

[2014-12-03 20:58] #14 closed, assigned to mepps

[2014-12-04 19:42] amberleyromo opened #22 "Source Data: Diploma number has gone missing from data files."
the regular diploma number has gone missing from the data files at some point

[2014-12-04 19:57] amberleyromo opened #23 "Formatting: mgp_2yr_min"
MGP: need mgp_2yr_min and mgp_2yr_max in state data for ranges

[2014-12-04 23:33] gwenrr opened #24 "This incorrect statement "This school does not have any…" for some sugroups, even though they are there, is also on DC CAS exhibit"

[2014-12-05 14:39] mepps opened #25 "Front-end: New less than 10 content for Equity Reports on 3 exhibits"
These can be inserted as the final sentence in the info explaining the exhibit next to the chart and would read:

Graduation Rate
Data are not shown for subgroups with less than 10 students.
last sentence first paragraph (after 2014)

Student Achievement
Data are not shown for subgroups with less than 25 students.
last sentence before read more

Student Growth
Data are not shown for subgroups with

[2014-12-05 15:34] #25 closed, assigned to mepps

[2014-12-05 21:06] #2 closed

[2014-12-05 21:07] mepps opened #26 "Source Data: Incorrect statement on DC CAS exhibit that states "This school does not have any…" for all subgroups"
Seemed similar to issue #2, but it seems that it's getting all the subgroup names even at the school level. I'm going to investigate further.

[2014-12-05 21:35] #1 closed

[2014-12-05 21:35] #5 closed

[2014-12-05 21:36] #8 closed

[2014-12-05 21:36] #3 closed

[2014-12-05 21:43] #4 closed

[2014-12-08 16:21] mepps opened #27 "Formatting: MGP Scores subgroups were removed"
In mgp_scores.json for individual schools the subgroup keys are missing and instead school_code is in the keys where it isn't needed.

[2014-12-08 16:56] cmgiven opened #28 "Front-end: Non-enrollment exhibits are reporting "No students" for zero values"
See the Long-Term Suspensions at this school: http://www.stage.learndc.org/schoolprofiles/view?s=0113#equityreport

Expected 0%, not "No students."

[2014-12-08 16:57] cmgiven opened #29 "Front-End: Specialized Education needs to be updated"
Does not appear to incorporate the API changes that have been made. Appears on the Profile tab, affects all org levels.

[2014-12-08 20:23] mepps opened #30 "TBD: National Assessment of Education Progress graphs"
There should be 4 graphs, one for each item listed. On school profiles.

[2014-12-08 20:35] mepps opened #31 "API: What should we do with schools that should have any data for one exhibit?"
Example 0168 for dccas

Also look at graduation rate (0101)

[2014-12-08 20:39] #24 closed, assigned to mepps

[2014-12-08 20:42] #9 closed

[2014-12-08 20:45] #7 closed

[2014-12-08 22:30] mepps opened #32 "Formatting: Enrollment and Median Growth Percentile on Profile Tab"
Chris, I'm not seeing the same issues you are on these now. My fix for special education might have fixed it but can you look and point me to a school where you see it?

[2014-12-08 22:32] #29 closed, assigned to mepps

[2014-12-08 22:32] mepps opened #33 "Front-end: English Language Learners on DC Report Card graph issues"

[2014-12-08 22:37] #27 closed

[2014-12-08 22:37] #23 closed

[2014-12-08 22:37] #19 closed

[2014-12-09 15:06] gwenrr opened #34 "DC government servers are down"
We cannot access our dc.gov email. If you need to reach me, please call 202-374-3723 or email gwen.rubinstein@gmail.com.

Thanks.

Gwen

[2014-12-09 15:56] #22 closed, assigned to mepps

[2014-12-09 17:23] #30 closed, assigned to mepps

[2014-12-09 17:25] #33 closed, assigned to mepps

[2014-12-09 18:18] #12 closed

[2014-12-09 18:51] #34 closed

[2014-12-09 22:55] cmgiven opened #35 "Source Data: Incorrect Denominator on SPED Levels"
The denominator on the SPED levels is the total student population, while it should be the SPED population. The description on the site does not specify a denominator, however, so as the enrollment file has been agreed to by stakeholders, this issue could be ignored.

[2014-12-09 23:23] #26 closed, assigned to mepps

[2014-12-09 23:25] #21 closed

[2014-12-10 14:09] cmgiven opened #36 "Front-end: SPED levels may hide label"
The SPED levels do not appear to incorporate the logic that's used elsewhere, wherein the label moves outside of the bar when there's insufficient space. See the screenshot.

![screen shot 2014-12-10 at 9 07 23 am](https://cloud.githubusercontent.com/assets/5375557/5377113/27516e16-804c-11e4-92ae-884266250124.png)

[2014-12-10 14:51] #36 closed, assigned to nobody

[2014-12-10 15:36] gwenrr opened #37 "Front-end: data labels - for next round of corrections"
For next round - more of a design than data issue. Student movement exhibit. Placement of data labels and lines.
![screenshot 2014-12-10 10 32 28](https://cloud.githubusercontent.com/assets/7264714/5378464/5fcc91c4-8058-11e4-827b-fa27188f4734.png)

[2014-12-10 15:54] gwenrr opened #38 ""Accepts Enrollment" statements missing for some public charters"
![screenshot 2014-12-10 10 53 09](https://cloud.githubusercontent.com/assets/7264714/5378828/d77f1e6a-805a-11e4-8f3a-99f6c5d57da8.png)

[2014-12-10 16:13] #38 closed, assigned to nobody

[2014-12-10 22:28] #35 closed, assigned to nobody

[2014-12-10 22:40] #28 closed, assigned to mepps

[2014-12-11 01:15] cmgiven opened #39 "Source Data: Some SPED students are not given a level"
This results in SPED level percentages that do not sum to 100%. Although we could change the denominator to use the sum of the levels to ensure a 100% sum, this would be counter to what the data show, and our recommendation is to close the issue.

[2014-12-11 01:17] cmgiven opened #40 "ETL: Small errors are being introduced to SPED levels"
Using 0102 as an example.

Total SPED students: 45
Level 1: 18
Level 2: 20
Level 3: 5
Level 4: 1

Using these numbers, I get the following percentages.

Level 1: 40% (data reports 39.9%)
Level 2: 44.4% (data reports 44.3%)
Level 3: 11.1% (data agrees)
Level 4: 2.2% (data agrees)

Following the sequence of the ETL, the only step that I can see introducing this error is when the results are saved to

[2014-12-11 13:50] gwenrr opened #41 "Some schools have more than 4 SPED level bars"
For example: SC = 0115 has two SPED Level 4 bars on staging.
![screenshot 2014-12-11 08 45 27](https://cloud.githubusercontent.com/assets/7264714/5395050/c897ea0e-8112-11e4-8367-fde8853af7e8.png)

[2014-12-11 13:56] cmgiven opened #42 "Front-end: Duplicate Withdrawals/Entrances label"
We need to hide that blue label on the Y axis in the Student Movement exhibit.

![screen shot 2014-12-11 at 8 55 16 am](https://cloud.githubusercontent.com/assets/5375557/5395147/8ed148dc-8113-11e4-9cdb-3e0686f1c548.png)

[2014-12-11 14:21] #41 closed, assigned to nobody

[2014-12-11 19:05] #39 closed, assigned to nobody

[2014-12-11 19:06] #40 closed, assigned to nobody

[2014-12-12 19:50] gwenrr opened #43 "Demographics - rounding"
No minimum N / this is all percentages.

Why are values of <1% showing as 0%?

[2014-12-12 19:54] gwenrr opened #44 "DC CAS state-level scores are incorrect"
Correct state scores here

![screenshot 2014-12-12 14 43 28](https://cloud.githubusercontent.com/assets/7264714/5418231/b1e8c09c-820e-11e4-8583-269e2ba8f6c8.png)
![screenshot 2014-12-12 14 28 26](https://cloud.githubusercontent.com/assets/7264714/5418232/b1eaae3e-820e-11e4-942f-3e913e97c280.png)

[2014-12-12 19:54] #44 closed, assigned to nobody

[2014-12-12 19:55] gwenrr opened #45 "Source Data: DC CAS state values wrong"
I will send the correct values to the team in an attachment. I tried to drag and drop and it didn't work.

[2014-12-12 19:59] gwenrr opened #46 "Expulsion - decimals"
Sorry - I think this is my fault. I thought lots of these looked funny when there were two zeroes.

Let's take this back to two decimal places.

Thanks.

[2014-12-12 20:06] gwenrr opened #47 "Source Data: Adult schools should not have MYWE exhibit"
This is the list:

school_code sector  school_name
126 PCS Briya PCS

Note for OSSE: For this school only: just if grade=PG (Note for OSSE: we need to see what's in our table on this because it has both PK and adult) and we would have this metric for the former (delete student if school code = 126 and student's grade level = 'PG'; Keep mid-year withdrawals for students in grades PK3 and PK4; PK3 a

[2014-12-12 20:16] gwenrr opened #48 "Business Rules: MYWE Rounding"
Example attached
Are these rounding down at .5 level?

![screenshot 2014-12-12 15 16 18](https://cloud.githubusercontent.com/assets/7264714/5418638/de07459c-8211-11e4-9c42-fd987f8eaf83.png)

[2014-12-12 20:56] cmgiven opened #49 "DC CAS Reading State Average is Incorrect"
In the pull-outs, see attached.

![screen shot 2014-12-12 at 3 55 18 pm](https://cloud.githubusercontent.com/assets/5375557/5419185/5ce4006c-8217-11e4-8cd8-9fd1e125206a.png)

[2014-12-12 21:01] #46 closed, assigned to mepps

[2014-12-14 12:58] #49 closed, assigned to mepps

[2014-12-14 12:59] #43 closed, assigned to mepps

[2014-12-15 14:28] gwenrr opened #50 "Front-end: Demographic labels outside of page margin"
Noticing this for schools with 100% or nearly 100% African American. See attached screen shot.
![screenshot 2014-12-15 09 26 53](https://cloud.githubusercontent.com/assets/7264714/5437244/b567f82a-843c-11e4-938c-a5e0751172bc.png)

[2014-12-15 19:09] #47 closed, assigned to benjaminrobinson

[2014-12-15 20:00] #42 closed, assigned to mepps

[2014-12-15 20:23] cmgiven opened #51 "Front-end: Remove Missing Students Label"
Remove the "this school does not have any..." label from all exhibits.

[2014-12-15 22:21] #50 closed, assigned to mepps

[2014-12-15 22:35] #51 closed, assigned to mepps

[2014-12-16 16:07] gwenrr opened #52 "No statement about minimum N on MGP exhibit"
This is something we asked for on 12/4/14

The statements should be on the following exhibits:
Student Achievement (DC CAS) - minimum N = 25
Student Growth (MGP) - minimum N = 25
Graduation Rate (ACGR, 4 and 5 year) - minimum N = 10

The statement is missing on the Student Growth metric.

![screenshot 2014-12-16 11 05 25](https://cloud.githubusercontent.com/assets/7264714/5456746/aeb3f650-8513-11e

[2014-12-16 16:53] cmgiven opened #53 "Source Data: Hide nulls on Student Growth Exhibit"
Using this school as an example: http://www.stage.learndc.org/schoolprofiles/view?s=3064#equityreport

We have null values appearing fairly frequently in the MGP data. We should handle this more gracefully than by showing a zero.
- For the one-year MGP (the first two columns of numbers), show "n/a" instead of 0 if the value is null.
- Hide the purple circle if its value (two-year MGP) is null.

[2014-12-16 19:36] gwenrr opened #54 "2013-2014 MGPs for schools without 2012-2013 MGPs showing 0%"
School codes:

1206
187
218
222
3070
362
364
366

[2014-12-16 19:55] #54 closed, assigned to nobody

[2014-12-17 20:53] gwenrr opened #55 "Front-end: "Read more" link on discipline exhibit not opening anything"
All the other "read more" links work - this one does not.

[2014-12-17 22:21] gwenrr opened #56 "Additional language to add to Discipline "Read More""
Can we add the following sentence at the end of the text after "Read More"?

Subgroup suspension rates are calculated by dividing the total number of students in that subgroup with a suspension by the total number of students in that subgroup enrolled.

[2014-12-18 15:33] cmgiven opened #57 "Front-end: New logic for Student Growth Pull-Out"
We have the following change request; however, we are not permitted to begin work on this change until LEA review closes this Friday. So this is an item for Monday, January 22 or later.

Currently the Student Growth Pull-Outs look like this:

![screen shot 2014-12-18 at 10 26 57 am](https://cloud.githubusercontent.com/assets/5375557/5490599/8d254104-86a0-11e4-83ee-d42c7b4ab49f.png)

We need to cha

[2014-12-18 19:32] #56 closed, assigned to nobody

[2014-12-19 17:54] #52 closed, assigned to nobody

[2014-12-19 20:16] #48 closed, assigned to nobody

[2014-12-19 20:57] #55 closed, assigned to mepps

[2014-12-22 13:40] cmgiven opened #58 "Front-end: Visibility on MYWE Labels"
In this school's Student Movement exhibit, the last two data labels of the withdrawal series are set to visibility: hidden. Can we look into what is causing that (proximity to the edge of the display?) and find a solution?

http://www.stage.learndc.org/schoolprofiles/view?s=0474#equityreport

[2014-12-22 21:53] #53 closed

[2014-12-23 14:52] #57 closed, assigned to mepps

[2015-01-02 17:59] benjaminrobinson commented on #10
I think I have this complete...Will just have to run by folks on our end!

[2015-01-02 18:00] benjaminrobinson commented on #45
Do we need to come up with language to explain the changes that will appear on the DC CAS exhibit due to the ETL fix (i.e. taking out non-public CAS test-takers)?

[2015-01-05 14:57] benjaminrobinson commented on #10
I have also added to the min-max file so that the MGPs have min-max values...this was inputted before.

[2015-01-05 18:26] mepps commented on #58
Fixed. Extended the range for the graph.

[2015-01-05 18:26] #58 closed

[2015-01-05 22:56] mepps opened #59 "Front-end: Print styles"

[2015-01-06 02:32] cmgiven commented on #59
Issue was observed on IE11 under Windows 7.

[2015-01-06 16:32] gwenrr opened #60 "Data issue"
wanted to flag - Ben is investigating

![screenshot 2015-01-06 11 31 24](https://cloud.githubusercontent.com/assets/7264714/5631840/badc09b0-9597-11e4-86e3-2e92524f878b.png)

[2015-01-06 16:33] gwenrr commented on #60
There is no reason a school should meet the minimum N threshold for two consecutive years of one-year MGP scores and not have a two-year score.

[2015-01-07 15:33] benjaminrobinson commented on #13
Working on this as part of fixing the "malformed json" issue...

[2015-01-07 15:35] benjaminrobinson commented on #11
@cmgiven:  Many json files do not have a name for the org_name (the org_name creation line is sometimes commented out in the ETL files)...should I add org_names to the ETL file (i.e. take away the comment out and add the gsub language) to all the files or is there a reason some json files do not have org_names?  Thanks!

[2015-01-07 15:37] cmgiven commented on #11
I'll defer to @psteininger or @mepps here. Probably not necessary to fix where not broken.

[2015-01-07 20:34] cmgiven opened #61 "Hide the DC Avg on Student Characteristics exhibit"
We need to hide all references to the DC average on the Student Characteristics exhibit, including where the data is shown in the charts as well as the legend. This should not affect any other Equity Report exhibit, and is limited to the Equity Report — the enrollment exhibit on LearnDC proper should continue to show in the same way.

The notion is that this functionality will be restored at some

[2015-01-07 21:54] benjaminrobinson commented on #10
Awaiting Jeff's feedback on this before closing the issue...

[2015-01-07 21:55] benjaminrobinson commented on #11
Would love to get some feedback on this by tomorrow before lunch as I'll be out from lunch to the end of the day at the postsecondary conference!

[2015-01-07 22:37] mepps commented on #61
Hi Chris, Let's check in about this tomorrow afternoon.

[2015-01-07 23:57] cmgiven commented on #11
Let's go with don't add org_name anywhere it isn't already. We derive org_name form the overview files, and we use school codes for matching, so I believe it's just a nice-to-have for human readability of the files.

[2015-01-08 14:48] benjaminrobinson commented on #11
Thanks, Chris.  The only ETL files that have the "org_name" commented out are the school level ETL files in the Enrollment exhibit.  I've implemented the changes we created across all the ETL files so this should be good to go once I make the next commit to GitHub...

[2015-01-08 14:57] benjaminrobinson commented on #32
Removed the "Grade" subgroups from the MGP exhibit...

[2015-01-08 15:01] benjaminrobinson commented on #13
All JSON files have been "prettified"!

[2015-01-08 15:38] benjaminrobinson commented on #60
This is a minimum n issue...

[2015-01-08 15:38] #60 closed

[2015-01-08 15:38] benjaminrobinson commented on #60
I think the problem was that we were looking at math FAY sizes and this is MGP for reading.

[2015-01-08 16:18] gwenrr commented on #10
OSSE is fine with this

[2015-01-08 16:18] #10 closed

[2015-01-08 16:56] gwenrr opened #62 "Front-end: Historical Data with <5 Years is Incorrectly Labeled"
When you click on Historical Data under subgroups.

![screenshot 2015-01-08 11 46 16](https://cloud.githubusercontent.com/assets/7264714/5666231/3e3e31a8-972c-11e4-923b-ef1f6820ac7f.png)

Labels read 2009 and 2010 - and this school (3068) was not open those years.

Similarly happening with SC = 1100, 0182, 3070

[2015-01-08 17:22] cmgiven commented on #62
This school, 3068, only has two years of data, 2013 and 2014. Data appears correct. Labeling this as a front-end bug.

[2015-01-08 17:34] gwenrr opened #63 "Front-end: Formatting of MGP labels"
Is this us or you? Here's an example.
![screenshot 2015-01-08 12 33 22](https://cloud.githubusercontent.com/assets/7264714/5667054/a92448a8-9732-11e4-83f6-a548ee9c4d9d.png)

[2015-01-08 18:02] cmgiven commented on #63
Us.

[2015-01-08 18:03] cmgiven commented on #63
These are also not percentages, and so should not have "%" appended to the end.

[2015-01-08 18:24] gwenrr commented on #63
Gosh - thanks for noticing the % issue.

[2015-01-08 18:55] mepps commented on #63
I took out the % on stage but it also changes where the line displays. Screen shot attached. Leaving the change live unless I hear otherwise because I think not communicating that the data is a percent when it's not a percent is important but we should discuss at the 2:30 meeting. It may require more extensive code changes, because I think when this was originally written they were thinking of it

[2015-01-08 19:01] mepps commented on #63
Sorry everyone, I decided not to leave that live until we discuss it, just because I don't want the data to look wrong. I can make the change as soon as we're clear on how it should look.

[2015-01-08 19:08] cmgiven commented on #63
Looks like the styles are just using the label value in CSS. So it's interpreting 46 as 46 px?

Chris

—
Sent from Mailbox

On Thu, Jan 8, 2015 at 2:01 PM, Margaret Epps <notifications@github.com>
wrote:

[2015-01-08 19:39] mepps commented on #62
Looks like there is an assumption that all data starts in 2009. Will look into this.

[2015-01-08 19:40] mepps opened #64 "Hiding MYWE Exhibit"
Do we need data or not?

[2015-01-08 19:42] cmgiven opened #65 "Front-end: Hide graduation rate exhibit if no data"
See 3067 for an example.

[2015-01-08 19:42] mepps opened #66 "School 188 shouldn't have dc cas data"

[2015-01-08 19:50] cmgiven opened #67 "DC CAS is missorted, identifies wrong all students data point for pull out"
On school code 0130, both math and reading.

[2015-01-08 19:54] cmgiven opened #68 "Content changes"
Need to flag community eligibility in first graph of enrollment.

Need to add suppression rules text to discipline.

[2015-01-08 20:30] gwenrr opened #69 "Suppress Equity Reports for closed schools, STAYs, and CHOICE"
Booker T. Washington, SC = 0151
Community Academy PCS Amos III, 1109
Maya Angelou Evans Middle, 0133
Imagine SE, 1116
Choice, 0947
Roosevelt Stay, 0456
Ballou Stay, 0462

[2015-01-08 20:31] gwenrr opened #70 "Hide MYWE exhibit for SC = 0168 (the Next Step)"
Adult schools excluded from this metric

[2015-01-08 20:32] gwenrr opened #71 "Briya PCS (SC = 0126) - Can we break this into two Equity Reports?"
One for the adult enrollment and one for the child enrollment?

What would we need to do to make that happen?

[2015-01-08 20:40] gwenrr opened #72 "Inspired Teaching (SC = 3064) - enrollment by grade"
Accepts enrollment in all of these grades, so no text should appear at all.

[2015-01-08 21:00] cmgiven commented on #64
Gwen has opened as #70.

[2015-01-08 21:00] #64 closed

[2015-01-08 21:01] cmgiven commented on #70
For clarity, the decision reached was that this data needs to remain on LearnDC, but we need to add a conditional rule to the Equity Report exhibit to hide for this specific school code.

[2015-01-08 21:03] cmgiven commented on #66
@benjaminrobinson: this is an issue that Gwen has the details on. This school code has been split, and the CAS data should follow the other school as this one is now early childhood only.

[2015-01-08 21:05] cmgiven commented on #69
We need to create some sort of blacklist for these schools. Assigning to @mepps.

[2015-01-08 21:05] gwenrr opened #73 "N<10 suppression, attendance and discipline"
Each exhibit (attendance and discipline) need to have language added around subgroups with <10 students are not shown. I know Chris said this was there when we were meeting today, but I don't see it. It could be me :>)

[2015-01-08 21:06] cmgiven commented on #71
This is not possible. LearnDC is deeply tied to the notion of one school code to one school profile. This would require extensive reworking at every level in order to make it possible.

If they want two equity reports, they'll need to have two school codes.

[2015-01-08 21:08] cmgiven commented on #73
Duplicate of #68. Adding attendance note there.

[2015-01-08 21:08] #73 closed

[2015-01-08 21:08] cmgiven commented on #68
Also need to add suppression rules to attendance, per #73.

[2015-01-08 21:09] gwenrr commented on #71
Would I be possible then to have two ISA exhibits - one for adults and one for children?

[2015-01-08 21:10] cmgiven commented on #71
Not easily, no. We could manage this by creating an entirely new exhibit just for Briya. But we would not be able to accomplish this on the current timeline.

[2015-01-08 21:12] cmgiven commented on #72
Assigning to Ben. This needs to be updated in the data files.

[2015-01-08 21:19] gwenrr opened #74 "Front-end: Specify 4-year for Graduation Rate pull out"
Not sure whether this is on your end or ours (it's like the issue we were having with shuffled values on DC CAS for DC Prep (SC = 0130).
![screenshot 2015-01-08 16 15 06](https://cloud.githubusercontent.com/assets/7264714/5670878/da5c2f2a-9751-11e4-9f41-3e8bb252bca5.png)

[2015-01-08 21:22] cmgiven commented on #74
Note that you've switched the toggle to 5-year. The pull-out is the 4-year rate, so this is expected behavior.

[2015-01-08 21:23] gwenrr commented on #74
Can we change the header, then, to say 4-Year Graduation rate, similar to what we did with MGP?

[2015-01-08 21:23] gwenrr commented on #74
I didn't realize this - and only one LEA noticed. But I think it could be confusing.

[2015-01-08 21:24] cmgiven commented on #74
@mepps: Let's change the label on the pull-label on this exhibit from "Graduation Rate" to "4-Year Graduation Rate".

[2015-01-08 21:26] gwenrr commented on #71
OK - we will communicate this to group.

[2015-01-08 21:41] gwenrr commented on #71
Or would it be possible to have two separate bars on this exhibit - one for adults and one for children?

[2015-01-08 21:54] mepps commented on #59
Chris were you able to test on confirm that this happened independently? Do you know if it's all graphs or just the one in the screen shot?

[2015-01-08 22:32] mepps commented on #59
Hi, so we discovered the issue here. By default, IE does not print background colors, which is how these graphs are set up. There is a setting users can turn on to print those colors. The least expensive solution is to set up a help text somewhere explaining that, either as an alert or a side panel. There are some possible fixes, but it is a known challenge and I worry about causing other issues t

[2015-01-08 22:33] cmgiven commented on #71
Possibly. What this would require is Ben adding additional subgroups to this school. However, this has ramifications for both the API and the front-end and needs some scrutiny before we can consider adding this late in the game.

@mepps and @psteininger: Would it be possible to add two new subgroups which would only appear in the attendance exhibit? These would perhaps be "Adult Students" and "Juv

[2015-01-08 22:36] cmgiven commented on #59
So explain how that alert would work?

Perhaps we add a print button at the top of the page that displays a modal with the message and upon dismissing uses Javascript to display the browser print dialog?

[2015-01-09 17:16] benjaminrobinson commented on #72
A little confused on where to look here to make the fix...

[2015-01-09 17:18] cmgiven commented on #72
This is set in the school overview files. There's an array that indicates which grades accept enrollment, and if it differs from the grades offered, the text gets displayed.

[2015-01-09 17:19] benjaminrobinson commented on #66
I see the issue...I think its a matter of the school mapping tables we use so I'll start looking into the issue there.

[2015-01-09 17:20] #11 closed

[2015-01-09 17:27] benjaminrobinson commented on #72
Thanks for the clarification on that, Chris.  Do you know where the school overview files are located? I feel like I've never actually seen the files feeding that part of the Equity Report.

[2015-01-09 17:39] cmgiven commented on #72
I do not, unfortunately. Note that these are not specific to the Equity Report. They are not in the v2 repo, and have always been shared via email with us.

—
Sent from Mailbox

On Fri, Jan 9, 2015 at 11:27 AM, benjaminrobinson
<notifications@github.com> wrote:

[2015-01-09 17:41] benjaminrobinson commented on #72
Thanks, Chris!  I'll find the source of school overview files and make the change...Down the line, if we want to add those files to the GitHub repo at some point to make life easier for us all, I am open to it.

[2015-01-09 17:43] cmgiven commented on #72
So are we!

—
Sent from Mailbox

On Fri, Jan 9, 2015 at 11:41 AM, benjaminrobinson
<notifications@github.com> wrote:

[2015-01-09 18:07] cmgiven commented on #72
@mepps and @psteininger: Can you help us determine why PK3-KG are appearing as "Does Not Accept Enrollment." Here's the overview file:

https://github.com/socialdriver/learndc-data/blob/master/converted/school/3064/overview.json

Here's the Equity Report:

http://www.stage.learndc.org/schoolprofiles/view?s=3064#equityreport

Ben is aware that Grade 7 is present in one array but not the other, and

[2015-01-09 20:48] mepps commented on #59
Hi Chris, I'm open to however you think it's best to display the information. I think a button that says "print" with a modal would be fine. Let me know if you'd like to discuss on the phone.

Also, I've figured out the issue with the tool-tip text not showing. I just have to work on a fix now.

[2015-01-09 21:50] gwenrr opened #75 "Front-End: Student Growth should only pull 2013 and 2014"
Some of this is for us (Ben / underlying data) and some is for you.

Paul PCS Middle had test invalidations in 2014. So the MGP and DC CAS exhibits are looking weird.

For MGP - for the pull out number, the data are for 2013. So let's label as 2013 (similar to what we did for DC Scholars, SC = 3070, which only had one year, but for a different reason).

For the subgroups, columns should read be la

[2015-01-09 22:01] gwenrr opened #76 "Paul PCS Middle School (SC = 0170) - DC CAS"
Following the previous issue, since Paul has 2014 DC CAS invalidations, the exhibit is basically blank.

We will figure out what to do next week.

[2015-01-12 15:44] mepps commented on #62
![screen shot 2015-01-12 at 10 44 10 am](https://cloud.githubusercontent.com/assets/4406809/5705530/fca8d738-9a47-11e4-83e3-02b06709f453.png)

Fixed on staging.

[2015-01-12 15:44] #62 closed

[2015-01-12 16:01] mepps commented on #67
I can resort the subgroups, but the data is displaying the correct subgroups and years. Can I get more specificity on what data is incorrect?

[2015-01-12 16:04] cmgiven commented on #67
The pull out, the big number next to the description, appears to display whatever number is sorted first. So when all students is not first, it shows the wrong number.

[2015-01-12 16:13] benjaminrobinson commented on #66
I will probably require your assistance on this @cmgiven as how to resolve this school code split issue is a little unclear to me.  This also relates to a separate issue to the school split surrounding Friendship.

[2015-01-12 16:14] mepps commented on #67
![screen shot 2015-01-12 at 11 13 28 am](https://cloud.githubusercontent.com/assets/4406809/5706105/1787058a-9a4c-11e4-87ed-ed8717231fc7.png)

Sorted subgroups correctly.

[2015-01-12 16:14] #67 closed

[2015-01-12 16:16] mepps commented on #61
Are we getting better dc average data with the next push?

[2015-01-12 16:16] cmgiven commented on #61
No, this will need to be removed at launch. May be restored at some point afterward.

[2015-01-12 16:17] cmgiven commented on #66
Okay. We'll add to the agenda for this afternoon.

[2015-01-12 16:19] benjaminrobinson commented on #66
We've been hit with a last minute data request from the mayor's office so I fear that I won't be able to get as much of this work done before our meeting.  So there's that...Just keeping you all in the loop!

[2015-01-12 16:49] gwenrr commented on #76
PCSB and OSSE are fine with leaving this as is

So I am going to close.

![screenshot 2015-01-12 11 49 11](https://cloud.githubusercontent.com/assets/7264714/5706716/1986b8d0-9a51-11e4-8f08-5991aec9cba5.png)

[2015-01-12 16:49] #76 closed

[2015-01-12 16:57] mepps commented on #63
![screen shot 2015-01-12 at 11 56 29 am](https://cloud.githubusercontent.com/assets/4406809/5706849/1738c2c0-9a52-11e4-8f0c-85d4a1a1abd9.png)

Removed percents. Please let me know if there's another change that needs to be made.

[2015-01-12 16:57] benjaminrobinson commented on #76
What does this mean for issue 75?
https://github.com/DC-OSSE/LearnDC_v2/issues/75

[2015-01-12 17:01] gwenrr commented on #76
Issue #75 still needs to be dealt with.

[2015-01-12 17:02] cmgiven commented on #63
That looks great. Thanks, Maggie.

[2015-01-12 17:15] gwenrr commented on #63
Thanks, Chris and Maggie.

[2015-01-12 18:58] mepps commented on #61
I'm close to merging in a fix for this, but there is one issue I'm trying to resolve.

[2015-01-12 19:09] mepps commented on #74
![screen shot 2015-01-12 at 2 09 17 pm](https://cloud.githubusercontent.com/assets/4406809/5709082/a780c1ae-9a64-11e4-8358-41a71f0b5303.png)

Changed in staging. Thanks for an easy one! :)

[2015-01-12 19:09] #74 closed

[2015-01-12 19:20] mepps commented on #71
We can add the subgroups, assuming we know what the keys for them will be.

[2015-01-12 19:21] mepps opened #77 "Does not enroll for pk3 at 3064"
@mepps and @psteininger: Can you help us determine why PK3-KG are appearing as "Does Not Accept Enrollment." Here's the overview file:

https://github.com/socialdriver/learndc-data/blob/master/converted/school/3064/overview.json

Here's the Equity Report:

http://www.stage.learndc.org/schoolprofiles/view?s=3064#equityreport

Ben is aware that Grade 7 is present in one array but not the other, and

[2015-01-12 20:03] mepps commented on #77
There are a couple of issues. One is that pk3 and pk4 are the grade keys in the enrollment_equity file but in the overview they are ps and pk. Also, in grades serviced grade 7 is there but not in grades accepted. This is what's causing it to show the enrollment labels, because it checks that the lengths of the two arrays are equal.

[2015-01-12 20:15] cmgiven commented on #45
Numbers will remain the same at launch.

[2015-01-12 20:26] mepps opened #78 "For MGP - for the pull out number, the data are for 2013"
So let's label as 2013 (similar to what we did for DC Scholars, SC = 3070, which only had one year, but for a different reason).

[2015-01-12 20:27] mepps opened #79 "Front-end: current year data missing"
It needs to pull from wherever that is, as do other schools.

[2015-01-12 20:27] cmgiven commented on #75
http://www.stage.learndc.org/schoolprofiles/view?s=0170#equityreport

This school does not have 2014 MGP data. The front-end, however, is just selecting the two most recent years for which there is data (so in this case, 2012 and 2013). We need to change this to ensure that the exhibit only ever pulls 2013 and 2014 data. In this case, the missing 2014 data should be treated as an n/a.

[2015-01-12 20:35] cmgiven commented on #79
Can you clarify?

[2015-01-12 20:37] mepps commented on #79
This is from issue 75, trying to isolate out. This applies to Paul PCS Middle School (SC = 0170).

[2015-01-12 20:37] mepps commented on #78
Paul PCS Middle School (SC = 0170)

[2015-01-12 20:38] cmgiven commented on #70
This file will not be included in subsequent data pushes. The exhibit will be hidden everywhere. No longer a front-end issue, and closed.

[2015-01-12 20:38] #70 closed

[2015-01-12 21:39] benjaminrobinson commented on #71
Chris and I made the changes on my end in the Equity Report aggregator...The ISA exhibit should have a key just for Briya that indicates the Adults Only subgroup or as we have named it for key purposes:  "AO".

[2015-01-12 21:56] gwenrr commented on #71
So my fault - PCSB gave us the numbers.

Adult = 72%
PreK = 82%

and the demographic ISA rates should be an aggregate of all students

[2015-01-12 22:37] mepps opened #80 "Data: Paul PCS has old subgroup names"
http://learndc.localhost/schoolprofiles/view?s=0170#equityreport
From the data:
        "key": {
          "year": 2013,
          "subject": "math",
          "subgroup": "economy"
        },

This is an issue because it's comparing against the dc file and pulling the wrong averages.

[2015-01-12 22:38] mepps commented on #80
Investigating futher first.

[2015-01-12 22:43] mepps commented on #80
Wait I figured out the issue, dc data is missing mgp_2yr for 2013. Should we be supressing this for this school?

[2015-01-12 22:50] mepps commented on #80
Duplicates 79

[2015-01-12 22:51] mepps commented on #79
So I think it's not showing 2014 data because the code calculates the maxYear and shows that data. Either we have to show null for the school for 2014 or show 2013 data. We could have null for the main metric but show 2013 data everywhere else? What do others think?

[2015-01-12 22:52] mepps commented on #78
Let's discuss this one in 79.

[2015-01-12 22:52] #78 closed

[2015-01-12 22:52] mepps commented on #79
Chris, can we discuss this as a larger issue tomorrow?

[2015-01-12 22:54] gwenrr commented on #79
Paul Middle School has no 2014 DC CAS or 2014 MGP data because of invalidations. Which maybe is why it's also not pulling the state average data?

[2015-01-12 22:56] mepps commented on #79
Will it have the data with the next push Gwen? Yes, that is why, it's looking for 2013 data. Thanks!

[2015-01-13 15:42] mepps commented on #59
Unhid the tooltip text.

[2015-01-13 15:49] mepps commented on #75
Hmm, I could change it so it pulls for the maxYear from the state level. I don't want to hard code in 2014 since we may want to update next year without having to re-code.

[2015-01-13 16:11] benjaminrobinson commented on #66
Added to .gitignore file.  Will eventually appear here:  https://github.com/DC-OSSE/LearnDC_v2/blob/master/.gitignore

[2015-01-13 17:06] mepps commented on #65
This is live on staging, but can't do a screen shot because there's nothing there :).

[2015-01-13 17:06] #65 closed

[2015-01-13 17:07] mepps commented on #69
Is there any way this is indicated in the data?

[2015-01-13 17:07] mepps commented on #69
Are the schools listed here all the schools that fit this criteria?

[2015-01-13 17:10] benjaminrobinson commented on #69
Would this be something we add to the .gitignore file?

[2015-01-13 17:14] benjaminrobinson commented on #71
For the time being, we will just add this into the SQL database instead of changing the aggregator file as we don't want to wash away/lose any changes that were made to the equity_longitudinal table that exists in our database by writing over that table with a new piece of data.  Adding the Briya line in the database is our best option for now and then making changes to the Equity Report aggregato

[2015-01-13 17:30] gwenrr commented on #65
It's gone - perfect!

[2015-01-13 17:31] gwenrr commented on #79
No it will not have 2014 data ever.

[2015-01-13 17:51] benjaminrobinson commented on #66
This is also the same for MGP, right?

[2015-01-13 17:55] benjaminrobinson commented on #77
What needs to happen on my end for this?  I'm a bit confused...

[2015-01-13 17:56] benjaminrobinson commented on #77
Do I need to send over a new school overview file with the correct keys?  Those are the old keys and they existed far before I arrived/knew of their existence and are not present on our GitHub but definitely appear in the Social Driver GitHub for LearnDC.

[2015-01-13 17:59] gwenrr commented on #66
Yes - please hide MGP as well

[2015-01-13 17:59] gwenrr commented on #66
Thanks for catching this

[2015-01-13 18:00] benjaminrobinson commented on #32
I believe this issue has been dealt with (as far as removing the Grade subgroup keys as well as checking for consistency in the Grade subgroup keys) so I'm going to close it since I'm about 95% confident that I made the subgroup keys consistent across all the LearnDC exhibit files.

[2015-01-13 18:00] #32 closed

[2015-01-13 18:00] benjaminrobinson commented on #72
Is this a duplicate of #77 ?

[2015-01-13 18:00] benjaminrobinson commented on #66
Just going to add that file line to the .gitignore file as well...

[2015-01-13 19:39] #71 closed

[2015-01-13 21:19] gwenrr commented on #77
We need to figure out how to proceed on this.

[2015-01-13 22:27] benjaminrobinson commented on #77
Maggie made the fix here in the specific school overview but we seem to be in agreement about migrating the files and the ETL that created them to the GitHub repository at some unspecified point in the future!

[2015-01-13 22:37] mepps commented on #79
I'm still working on this. The problem is that I have to create a new array with null 2014 data. I should be able to finish this tomorrow morning.

[2015-01-13 22:38] mepps commented on #75
This is the same as 79.

[2015-01-13 22:38] #75 closed

[2015-01-13 22:39] mepps opened #81 "Front-end: Create help text because IE11 doesn't print background colors"
Hi, so we discovered the issue here. By default, IE does not print background colors, which is how these graphs are set up. There is a setting users can turn on to print those colors. The least expensive solution is to set up a help text somewhere explaining that, either as an alert or a side panel. There are some possible fixes, but it is a known challenge and I worry about causing other issues t

[2015-01-13 22:39] mepps commented on #81
Chris: So explain how that alert would work?

Perhaps we add a print button at the top of the page that displays a modal with the message and upon dismissing uses Javascript to display the browser print dialog?

[2015-01-13 22:40] mepps commented on #81
Hi Chris, I'm open to however you think it's best to display the information. I think a button that says "print" with a modal would be fine. Let me know if you'd like to discuss on the phone.

Also, I've figured out the issue with the tool-tip text not showing. I just have to work on a fix now.

[2015-01-13 22:40] mepps commented on #59
Closing this because it is two issues, one of which is resolved.

[2015-01-13 22:40] #59 closed

[2015-01-13 22:40] mepps commented on #59
See #81.

[2015-01-13 22:44] mepps commented on #77
I can verify that I made the change manally for this specific school.

[2015-01-14 14:29] mepps commented on #79
We are working on the data import here, but is this in the only school that is missing the 2014 data? We will need to know this before the import.

[2015-01-14 14:33] mepps commented on #79
I'm going to research this on our end for now.

[2015-01-14 14:42] gwenrr commented on #79
I think so - but we can look into it.

[2015-01-14 16:10] mepps commented on #79
I have a ruby script set to check the data, and we will add the missing school data (with null values) for the short term, assuming it's only one or two schools.

[2015-01-14 16:19] benjaminrobinson commented on #13
Thought this was an issue again but it should be re-implemented (correctly, I might add!) across all the JSON files for LearnDC...

[2015-01-14 16:26] mepps commented on #77
I just wanted to check on something. What grades does this school service? In the data, it only has through grade 5, in overview.json it has through grade 7 in one place and grade 6 in another. I want to make sure I made the correct change. Thanks!

[2015-01-14 16:30] benjaminrobinson commented on #77
I can check on this for you!

[2015-01-14 16:53] mepps commented on #77
Thanks Ben!

[2015-01-14 17:57] mepps commented on #61
![screen shot 2015-01-14 at 12 57 17 pm](https://cloud.githubusercontent.com/assets/4406809/5744239/e6d66032-9bec-11e4-86dc-05604621eccb.png)

Change made on staging.

[2015-01-14 17:57] #61 closed

[2015-01-14 18:08] cmgiven commented on #81
Yes, Maggie, I think that would work fine. Here's some text you can use for the modal:

In order for the charts on this page to be printed, please ensure that your browser's "Print background colors and images" option is turned on.

[2015-01-14 18:11] cmgiven commented on #79
This is fine for the short term. In the long term, we could use the state data to identify the most recent year of testing, as there could be many cases in which it would not make sense to update the data with nulled values (closed schools, for example).

[2015-01-14 18:13] cmgiven commented on #72
Yes, this is a dupe.

[2015-01-14 18:13] #72 closed

[2015-01-14 18:15] cmgiven commented on #69
There is no way at the moment to add this to the data. We need the data to continue to appear for these schools, we just need to hide their Equity Report tab.

We could simply hardcode a blacklist of these school codes, at least for now, as it'll only ever need to be updated once a year.

[2015-01-14 18:36] cmgiven commented on #68
These changes have been made on staging.

[2015-01-14 18:36] #68 closed

[2015-01-14 18:46] gwenrr commented on #61
Since the DC average data is gone, can you please also hide the DC average in the legend? Thanks.

[2015-01-14 18:46] mepps commented on #79
These are all the schools with missing 2014 data. Do we want to display null values for all of them?

0170
0188
0861
0947

[2015-01-14 18:51] gwenrr commented on #61
Can I flag that the DC average is now not showing on lots of exhibit? Like DC CAS, graduation, discipline and attendance? Or is this an artifact of you working on the staging site?

[2015-01-14 18:54] gwenrr commented on #79
For the second two (0861 and 0947): they should not have equity reports.

[2015-01-14 18:56] gwenrr commented on #79
For 0170 (Paul) -  thought were would leave as is.

[2015-01-14 18:57] gwenrr commented on #79
For 0188 (Cedar Tree) - hide the DC CAS and MGP exhibits, like with other early learning programs with no tested grades. Is that possible?

[2015-01-14 18:57] mepps commented on #61
Both of these issues should be resolved as of now. Thanks for noticing this Gwen!

[2015-01-14 19:03] benjaminrobinson opened #82 "Graduation Rate Exhibit has 2 Values for 2014"
Looking into this...

![capture](https://cloud.githubusercontent.com/assets/7928978/5745343/07715942-9bf6-11e4-9c73-635566b2591c.PNG)

[2015-01-14 19:09] benjaminrobinson commented on #82
Is this a 4 year and 5 year rate distinction?

[2015-01-14 19:11] cmgiven commented on #82
I don't believe so, as other years would have both rates as well. Do you have a school code?

[2015-01-14 19:11] benjaminrobinson commented on #82
This is DCPS's LEA numbers...

[2015-01-14 19:12] benjaminrobinson commented on #82
LEA code 0001.

[2015-01-14 19:16] cmgiven commented on #82
But you're right. The values being shown are both the four year and five year rates from that data file. Have the options for type always been "Four Year ACGR" and "Five Year ACGR"?

@mepps, if you're around, it would be helpful to get your perspective here.

[2015-01-14 19:19] benjaminrobinson commented on #82
I'm not sure...this was done by Alex in the new Graduation Aggregators he created.  I know very little about this exhibit overall but the data that feeds it has a "Type" for the types you've mentioned.

[2015-01-14 19:23] mepps commented on #82
Hey everyone, looking into this now.

[2015-01-14 19:23] mepps commented on #82
To clarify, this is on the dc report card?

[2015-01-14 19:24] mepps commented on #82
Found it.

[2015-01-14 19:33] gwenrr commented on #63
Decimals still showing on MGP exhibit
![new screenshot 2015-01-14 14 31 43](https://cloud.githubusercontent.com/assets/7264714/5745956/57af72be-9bfa-11e4-9005-90d4ebeaaba7.png)

[2015-01-14 19:50] benjaminrobinson commented on #82
We were ever going to report 4 and 5 year ACGR on the school report card?  We probably want to suppress the 5 year on the report card but keep it around for the equity report.

[2015-01-14 19:52] cmgiven commented on #82
No, we do use both. Equity Report has a toggle between the two. LearnDC proper let's you flip between in the Detail view.

[2015-01-14 19:53] mepps commented on #82
I have a front end fix for this.

[2015-01-14 19:54] cmgiven commented on #82
Great, thanks Maggie. Good to know.

Note that this is separate from the ACGR discussions that OSSE is having right now.

[2015-01-14 19:56] benjaminrobinson commented on #82
Where can you do that in the detail view, Chris?  I don't see it.

[2015-01-14 19:56] gwenrr commented on #82
The other issue is two 2014s

[2015-01-14 19:59] mepps commented on #82
![screen shot 2015-01-14 at 2 59 32 pm](https://cloud.githubusercontent.com/assets/4406809/5746485/fa491e96-9bfd-11e4-83f3-17fe34626171.png)

Fixed on staging.

[2015-01-14 20:15] cmgiven commented on #82
Hmm, you're right, Ben. It's no longer there. I can't remember when that happened.

[2015-01-14 20:18] cmgiven commented on #82
Looks good, thanks Maggie.

Ben, I'm closing this issue as the front-end bug has been resolved. Let's open another one to track the data issue you're looking into now.

[2015-01-14 20:21] cmgiven opened #83 "Data: Need to incorporate updates to ACGR data"
@benjaminrobinson will be sharing an update soon once OSSE makes a determination about how they'd like to proceed given issues that have been identified with this data.

[2015-01-14 21:25] benjaminrobinson commented on #13
Only set of files that were not "prettified" were the LEA enrollment exhibit files...that was causing a parsing issue that ended up creating a JSON that had no values...Will do some investigating tomorrow about which LEA's file is causing this problem.  This will not delay the release of anything but is just an issue I want to flag so that we can get it right!

[2015-01-14 21:27] mepps commented on #13
Great work Ben!!

[2015-01-14 21:29] cmgiven commented on #13
Will note that this same file will likely display a JSON parsing error. We'll need to manually fix for the time being.

[2015-01-14 22:30] mepps commented on #79
Hi Gwen, Can I get a list of all schools that shouldn't have equity reports displayed?

[2015-01-14 22:33] mepps commented on #79
On 0170, my understanding was that we wanted the 2014 data to display for states and to display null values for 2014 for the school. Please let me know if that's incorrect.

[2015-01-14 22:35] cmgiven commented on #79
Find the list of schools that should have their equity report hidden on issue #69.

On 0170, that's correct. My point is that we should be able to have the equity report identify that 2014 is missing without needing to insert a nulled 2014 into the data files. But as a short term solution, that's fine.

[2015-01-14 22:59] gwenrr commented on #79
Booker T. Washington, SC = 0151
Community Academy PCS Amos III, 1109
Maya Angelou Evans Middle, 0133
Imagine SE, 1116
Choice, 0947
Roosevelt Stay, 0456
Ballou Stay, 0462
River Terrace - 304
Dunbar Pre Engineering – 940 (should not be separated from Dunbar; should be included in Dunbar’s)
IYP – 950
Luke C Moore – 884
Mamie D Lee – 265
Sharpe Health – 312
Washington Metropolitan – 474
Youth Services

[2015-01-14 23:42] benjaminrobinson commented on #82
Still showing in the detail view...but hidden in the summary view.

[2015-01-15 00:40] benjaminrobinson commented on #13
Found it!  It was DYRS's LEA enrollment file.  It exists in the school directory but does not exist in the enrollment by LEA.  Therefore subsetting it out of the ETL resolves the issue!

[2015-01-15 00:40] #13 closed

[2015-01-15 00:58] benjaminrobinson commented on #83
I'm going to make a push tonight (it has updated prettified JSONs including the LEA enrollment JSON, which we were having an issue with earlier, and ONLY, I repeat, ONLY 4-year graduation rate data.  I was told by Jeff not to create the new data elements for 4 year graduation (so I'll get back to those tomorrow)...

[2015-01-15 01:16] benjaminrobinson commented on #77
Will get to this tomorrow...I promise!  Was just swamped by Graduation data stuff today.  See everyone tomorrow!

[2015-01-15 14:26] mepps commented on #69
Thanks for this list Gwen!

Booker T. Washington, SC = 0151
Community Academy PCS Amos III, 1109
Maya Angelou Evans Middle, 0133
Imagine SE, 1116
Choice, 0947
Roosevelt Stay, 0456
Ballou Stay, 0462
River Terrace - 304
Dunbar Pre Engineering – 940 (should not be separated from Dunbar; should be included in Dunbar’s)
IYP – 950
Luke C Moore – 884
Mamie D Lee – 265
Sharpe Health – 312
Washington Metro

[2015-01-15 15:52] cmgiven commented on #69
No, I think we actually want the tab itself hidden. Is that possible?

[2015-01-15 15:54] mepps commented on #81
Should this go at the top or bottom of the page?

[2015-01-15 15:55] cmgiven commented on #81
Top.

[2015-01-15 15:55] mepps commented on #81
Sorry, just saw top of the page.

[2015-01-15 15:55] cmgiven commented on #81
All good. And you might reference Casey's data download button designs for style ideas.

[2015-01-15 16:13] gwenrr commented on #69
It looks like this school (River Terrace ES) closed several years ago. It should not have a page at all. It does not currently have a page on Learn DC (main site).

[2015-01-15 17:25] benjaminrobinson commented on #83
Imani and I are working to get the data together to set up the 5 year rates...According to our eyeball tests, the 4 year rates look to be around what we are expecting for the state level as well as for DCPS but more QA is probably needed before we feel 100% comfortable about those.  Back to work on the 5 year data for me!

[2015-01-15 19:11] mepps commented on #81
![screen shot 2015-01-15 at 2 10 57 pm](https://cloud.githubusercontent.com/assets/4406809/5764493/63eaf640-9cc0-11e4-8cd0-70267554ae4a.png)
![screen shot 2015-01-15 at 2 11 10 pm](https://cloud.githubusercontent.com/assets/4406809/5764494/63eb5ab8-9cc0-11e4-8bac-beb818826701.png)

Here's what I have right now.

[2015-01-15 19:31] cmgiven commented on #81
Change the button to "PRINT THIS REPORT." Move it below the "What is an equity report?" heading.

Change the title of the modal to "Print This Report." Add a blue button to the lower right corner of the modal with the label "PRINT." Clicking that should open the print dialog.

That work?

[2015-01-15 19:57] mepps commented on #81
![screen shot 2015-01-15 at 2 57 25 pm](https://cloud.githubusercontent.com/assets/4406809/5765347/dd344776-9cc6-11e4-8f2a-736c010547f6.png)

[2015-01-15 19:58] mepps commented on #81
Print button goes into print dialog. Only question is whether the content should specify that this is for IE11?

[2015-01-15 20:01] mepps commented on #69
![screen shot 2015-01-15 at 3 00 52 pm](https://cloud.githubusercontent.com/assets/4406809/5765411/56899b9e-9cc7-11e4-8cfc-85a89560ed4e.png)

This is done. We can do this to all the schools on prod before launch as well.

[2015-01-15 20:02] mepps commented on #81
(I also made sure the modal won't print. I could also do this for the button.)

[2015-01-15 20:03] cmgiven commented on #81
(That'd be great.)

This works. Doesn't need to be limited to IE11. The language is taken from the IE11 print dialog, but since it's generally applicable, should be fine.

[2015-01-15 20:10] mepps commented on #81
(done.) Live on staging now.

[2015-01-15 20:11] mepps commented on #69
Live on staging for the schools listed. Gwen, you're right about 0304, there's no report.

[2015-01-15 20:12] mepps commented on #79
Chris, can we discuss your thoughts on this issue before the final data push? Feel free to call me.

[2015-01-15 20:13] mepps opened #84 "Front-end: Possibly hide 5-year grad data"
This should be just commenting out a line of code.

[2015-01-15 20:14] cmgiven commented on #81
Clicking the "Print" button should also dismiss the modal. Otherwise, looks great.

[2015-01-15 20:18] cmgiven commented on #84
Great to know, but this request will no longer be necessary. What we're hearing is we must launch with the 5-year data.

[2015-01-15 20:18] #84 closed

[2015-01-16 15:46] mepps commented on #79
Chris, can you email me your phone number? I want to call you and discuss this in about 15. I think it's the last thing I have to deal with before import.

[2015-01-16 19:12] cmgiven commented on #77
What is the status of this issue? Gwen just reported it persisting through the most recent data push on staging.

[2015-01-16 19:41] gwenrr commented on #77
Ben please get with Maggie on this so she can fix it manually. This should not be in the parking lot. Thanks.

[2015-01-16 20:10] benjaminrobinson commented on #77
So this school services grades:  KG, PK3, PK4,1, 2, 3, 4, 5.  And this school accepts applications for grades:  KG, PK3, PK4, 1, 2, 3, 4, 5, 6, 7.

[2015-01-16 20:16] cmgiven commented on #77
So that doesn't make sense?

But this can remain in the parking lot. I've just conferred with Maggie, and her local environment has completed the data load and no longer displays this issue.

[2015-01-16 20:20] gwenrr commented on #77
From PCSB's corrections spreadsheet:

Under ʺEnrollment by Gradeʺ it says ʺDoes not accept enrollmentʺ under PK3-K. We accept enrollment for all grades (K-5 for SY13-14, K-7 for SY15-16).

[2015-01-16 20:22] cmgiven commented on #77
I guess that makes it K-6 for SY14-15?

In that case, we need to adjust both arrays, dropping grade 7 from the accepts enrollment array and adding grade 6 to the services array. As the immediate issue raised by PCSB, the presence of "Does not accept enrollment", has been resolved, suggest making that adjustment when Ben next updates overview files.

[2015-01-16 20:25] cmgiven commented on #66
Ben, the file is still around. Please run the following command from the root directory of the repo and commit.

```git rm Export/JSON/school/0188/dccas.json Export/JSON/school/0188/mgp_scores.json```

[2015-01-16 20:26] gwenrr commented on #77
Our enrollment audit data from 13-14 school year shows enrollment for PK3, PK4, K, 1, 2, 3, 4, 5. This is what should be listed. Without any additional commentary. We leave out enrollment anticipated for future grades.

[2015-01-16 20:27] cmgiven commented on #77
In that case, it is correct with Maggie's hand fix. Leaving open as Ben needs to resolve in the overview ETL.

[2015-01-16 20:29] cmgiven commented on #66
I should note that we will remove this by hand for the purposes of the pending push.

[2015-01-16 20:45] benjaminrobinson commented on #32
We are still coding Adults Only as "grade AO" and not as "AO"...I see that subgroup still appearing wherever that grade exists in a school.  Did we want to change that to be "AO" and not "grade AO" or is that not an issue?  I don't remember discussing but thought it would be better to be safe than sorry when I ran into it!

[2015-01-16 20:50] mepps commented on #32
In our grades I see "grade ao" and "ao", and we now have a subgroup called "ao". Does this answer your question?

[2015-01-16 20:55] benjaminrobinson commented on #77
I don't know where the school overview ETL is but we can definitely deal with that in the future...Just another reason for hosting the school overview files on the repository!

[2015-01-16 20:59] benjaminrobinson commented on #66
Weird...as I included that in the .gitignore file.  Why did that no do the trick?  I run this when in the context of the whole commit and push process?

[2015-01-16 21:00] mepps commented on #79
Hid student_growth and student_achievement for school 0170 only.

[2015-01-16 21:01] cmgiven commented on #66
It ignored the file, but that just left it alone, it didn't delete it.

You can run that at any time before a commit and push. It'll delete the files and stage that deletion.

[2015-01-16 21:02] benjaminrobinson commented on #66
Thanks!  Good stuff to know for the future.

[2015-01-16 21:08] mepps commented on #81
I tried to incorporate this, but if you dismiss the  modal, the print dialog doesn't open. I can try to work on this as a qa fix though once everything else is settled.

[2015-01-16 21:22] cmgiven commented on #81
All good. Closing.

[2015-01-16 21:22] #81 closed

[2015-01-16 21:27] cmgiven commented on #69
Confirming this closed.

[2015-01-16 21:27] #69 closed

[2015-01-16 21:27] cmgiven commented on #79
Confirming this closed.

[2015-01-16 21:27] #79 closed

[2015-01-16 21:33] gwenrr opened #85 "Data: PCSB CAS revisions to Hope Tolson (0114)"

[2015-01-16 21:34] gwenrr commented on #85
No DC CAS scores? WE had a PCSB request for a revision: 57% math 53% reading

[2015-01-16 21:42] cmgiven commented on #85
Most recent data files are showing 56% math, 51% reading.

[2015-01-16 21:47] gwenrr commented on #85
Ben - can you change this in the ETL?

[2015-01-16 22:13] benjaminrobinson commented on #32
We have the subgroup AO just for Briya, I believe...but did we ever have a preference for AO or grade AO?  Not sure that answers my question.  I guess my question is:  are there instances where we have "grade AO" and other instances where we have "AO" as a key (outside of the Briya instance)?  Because this may have been a key that I did not standardize across the data.  I may be overdoing it on th

[2015-01-16 22:50] gwenrr commented on #66
This problem still exists.

[2015-01-16 23:12] cmgiven commented on #66
Sorry about that, Gwen. Check now (you may have to refresh). The exhibits are now gone.

[2015-01-16 23:16] benjaminrobinson commented on #66
I have not made a new commit to the repo...am trying to fix #85 before the push.  Or would you rather I push what I have now and work on fixing that issue at a later time?

[2015-01-16 23:16] cmgiven commented on #66
No urgency here. We fixed on our end. Just need to make sure those files are deleted before your next push with the ACGR fix.

[2015-01-16 23:20] benjaminrobinson commented on #66
Thanks, Chris!  I feel better knowing that I wasn't holding up anything on your or Maggie's end...

[2015-01-17 01:20] benjaminrobinson commented on #66
ACGR fix has been committed and pushed...but I'm still trying to resolve #85 and my re-running of Alex's old aggregator script (trying to see if the appeal  isn't being productive/responsive at the moment...will probably come back to it next week since this file is literally taking forever to finish.

[2015-01-17 01:20] #66 closed

[2015-01-17 01:20] #83 closed

[2015-01-17 17:57] gwenrr opened #86 "DC CAS historical data ALL SCHOOLS"
Only data showing from my view of staging is 2014 for all students.

Buttons for subgroups don't work.

May be a Gwen issue (using Chrome) but can someone check?

[2015-01-17 18:00] gwenrr opened #87 "DC Average - ISA - Briya PCS 0126 - adult subgroup"
Can we hide DC average? It's showing 0%

[2015-01-17 18:05] gwenrr opened #88 "Grade enrollment minimum N - still suppressing"
Need to fix logic. We are not suppressing for any minimum N for grade enrollment.

[2015-01-17 18:14] gwenrr commented on #80
what is appearing on staging (DC CAS and MGP exhibits completely hidden) is not the solution I thought we were implementing.

I thought we were hiding DC CAS (or, more specifically, leaving it showing but without data).

For MGP, I thought we were going to have NA for 2014 but show 2013 (including making it clear that 2012-13 data were what was in pull out.

But I think we can leave as is for now

[2015-01-17 18:19] gwenrr opened #89 "Paul PCS Middle 0170 DC CAS and MGP"
What's on the staging site doesn't reflect the solution I thought we were implementing, which was:

- DC CAS - leave exhibit but have it blank. I can't access a previous screen shot from home.
- MGP - have NA for 2014 data and pull out but show 2013 data in exhibit

But I think it's OK to leave as is for launch and fix later

[2015-01-17 18:23] gwenrr opened #90 "LAMB - 0193 - MGP"
Data totally missing

[2015-01-17 18:30] gwenrr opened #91 "Grades served language - content - MYWE"
Similar language to what's in ISA and discipline around grades served needs to be added to MYWE exhibit

[2015-01-17 23:40] mepps commented on #86
I can see why this is happening and I will be able to fix it before launch.

[2015-01-20 12:39] cmgiven commented on #90
This school does not have 2013 or 2014 data in the MGP file.

@mepps: can we add a condition to hide the exhibit if this is the case?

http://www.stage.learndc.org/schoolprofiles/view?s=0193#equityreport

[2015-01-20 12:42] cmgiven commented on #87
Would it be better to instead add a DC value? @benjaminrobinson: did Tembo include a state adult-only value in their data file?

Would ideally prefer to minimize the number of exceptions like this that need to be added to the front-end.

[2015-01-20 12:45] cmgiven commented on #91
Added.

[2015-01-20 12:46] cmgiven commented on #91
@mepps: Flag that this was a content change in the staging environment. Let me know if I should make it elsewhere as well. Will confirm following launch.

[2015-01-20 12:49] cmgiven commented on #88
Do you have a school code for replication? Could not find an example.

[2015-01-20 12:51] cmgiven commented on #80
New issue #89

[2015-01-20 12:51] #80 closed

[2015-01-20 13:03] cmgiven commented on #31
Closing, as I believe this has been resolved.

[2015-01-20 13:03] #31 closed

[2015-01-20 13:46] benjaminrobinson commented on #90
This is an N-size suppression issue...

[2015-01-20 13:48] gwenrr commented on #88
I am not sure what you mean by this. The list of schools / grades affected is:

school_code	school_name		grade
292	OYSTER ADAMS BILINGUAL SCHOOL (OYSTER)		PK3
258	HEARST ES		PK3
305	ROSS ES		grade 5
173	ROOTS PCS		grade 5
173	ROOTS PCS		grade 6
173	ROOTS PCS		grade 7
173	ROOTS PCS		grade 8
947	CHOICE ACADEMY AT EMERY		UN
193	LATIN AMERICAN MONTESSORI BILINGUAL (LAMB) PCS		grade 5
131	HOPE COMMUNIT

[2015-01-20 13:56] gwenrr commented on #90
Yes - but then shouldn't it have NA
Seems like they had N>25 in 2013 test year
![screenshot 2015-01-20 08 55 31](https://cloud.githubusercontent.com/assets/7264714/5818256/2bfbf0ac-a082-11e4-8f3d-31255794d073.png)

[2015-01-20 13:57] mepps commented on #86
![screen shot 2015-01-20 at 8 56 48 am](https://cloud.githubusercontent.com/assets/4406809/5818275/4ae57e8e-a082-11e4-8433-390ecd8b93d5.png)

Fixed on staging.

[2015-01-20 13:57] benjaminrobinson commented on #87
I will look into this...Thanks, Chris!

[2015-01-20 14:01] benjaminrobinson commented on #90
This is definitely an n-size issue...they only had 24 full academic year test-takers for 2014.

[2015-01-20 14:08] mepps commented on #82
![screen shot 2015-01-20 at 9 08 24 am](https://cloud.githubusercontent.com/assets/4406809/5818473/e9ce764e-a083-11e4-918c-b40b010230fa.png)

Fixed on staging.

[2015-01-20 14:13] cmgiven commented on #88
Yes, after spot checking a couple, it appears the front-end is working as expected. These values are missing from the data files. Assigning to Ben.

[2015-01-20 14:16] cmgiven commented on #82
I'm now seeing a weird bug where the years are out of order. Only on the Detail tab. Should I open a new issue?

http://www.stage.learndc.org/schoolprofiles/view?s=lea-0001#reportcard

[2015-01-20 14:17] mepps commented on #63
![screen shot 2015-01-20 at 9 17 30 am](https://cloud.githubusercontent.com/assets/4406809/5818645/2fca3f1a-a085-11e4-9a6b-0b0cfac90434.png)

Fixed in staging.

[2015-01-20 14:17] #63 closed

[2015-01-20 14:18] #86 closed

[2015-01-20 14:19] benjaminrobinson commented on #87
After some investigation, I am unsure if we have a state adult-only value in the file since the State values (i.e. "AverageScore" in the files) are based on grade-bands...

[2015-01-20 14:20] benjaminrobinson commented on #88
This is for the Equity Report?  I thought we were still discussing having a minimum n....if not that is a matter of just re-running the ETL.

[2015-01-20 14:20] cmgiven commented on #87
Thanks, moving to @mepps plate. Maggie, can we catch when the state average is a null value and appropriately hide?

[2015-01-20 14:24] mepps commented on #82
![screen shot 2015-01-20 at 9 23 34 am](https://cloud.githubusercontent.com/assets/4406809/5818759/0ef3f8f2-a086-11e4-9033-862e4e958d35.png)
Fixed on staging.

[2015-01-20 14:24] cmgiven commented on #82
Confirmed and closed.

[2015-01-20 14:24] #82 closed

[2015-01-20 14:45] mepps commented on #87
I tried to implement it but it's a bigger fix. I'm concerned that if I start changing more complex code before launch that we will cause other issues. Let's discuss at 10.

[2015-01-20 14:53] gwenrr commented on #90
OK my mistake - N<25 for both 2013 and 2014. Should the ER have NA for all of this or stay blank? I think for now maybe leave as is? Other thoughts?

[2015-01-20 14:58] gwenrr commented on #87
OK - but I think the ISA here should be 73% (which is the rate for Carlos Rosario, which is an adult school)

[2015-01-20 14:59] gwenrr commented on #87
This is the all student rate for Carlos Rosario, which is all adults. Any reason that should not be the statewide ISA for the adult subgroup at Briya?

[2015-01-20 14:59] gwenrr commented on #87
didn't mean to close

[2015-01-20 15:28] cmgiven opened #92 "Pending ISA Changes"

[2015-01-20 16:19] benjaminrobinson commented on #92
Is this related to #87 or something completely different?  Just wondering!

[2015-01-20 16:19] cmgiven commented on #92
This is for the non-tracked ISA issues Gwen mentioned on the phone.

[2015-01-20 16:20] benjaminrobinson commented on #92
I see!

[2015-01-20 16:32] benjaminrobinson commented on #87
Added 73% state average value.

[2015-01-20 16:32] benjaminrobinson commented on #88
Commented out enrollment suppression language from ETL file...and re-ran it.

[2015-01-20 16:32] #88 closed

[2015-01-20 16:34] benjaminrobinson commented on #66
@cmgiven Do I need to re-run that "git rm" command every time I make a commit/push from now on...especially since I am using the "git add --all" command?

[2015-01-20 16:36] cmgiven commented on #66
No, you're set. The issue is that the file was ignored before it was deleted from the repo. Thus the subsequent deletion had no effect. Creating the file again now won't affect anything, because the file remains ignored.

[2015-01-20 16:38] benjaminrobinson commented on #66
Good to know!  Thank you, Chris!

[2015-01-23 18:56] gwenrr opened #93 "Explanation of DC average in demographics exhibit - please delete"
The exhibit currently reads: "DC average values refer to the proportion of total public and public charter school enrollment across all grades, calculated according to the above rules." Since this exhibit doesn't have a DC average anymore, can we delete for now?

![screenshot 2015-01-23 13 54 33](https://cloud.githubusercontent.com/assets/7264714/5880578/95c1d128-a307-11e4-861f-102ac11419ec.png)

[2015-01-23 19:02] gwenrr commented on #91
It looks like this is fixed on staging but not on prod. Can someone look into this? Thanks.

[2015-01-23 21:35] #93 closed

[2015-01-23 21:37] #91 closed

[2015-01-26 03:27] gwenrr opened #94 "Front-end: Errant min-width rule mis-sizes small values"
![screenshot 2015-01-25 22 26 26](https://cloud.githubusercontent.com/assets/7264714/5895044/65a419f2-a4e1-11e4-8ccc-09ddbb5a5a7c.png)

[2015-01-26 14:05] gwenrr commented on #94
It seems fine now - but if someone could tell me why they think this was the case (even if it's as simple as you need to reset your browser or clear your cache), I would appreciate it. Then I can close it. Thanks.

[2015-01-26 14:05] gwenrr commented on #94
Oops - closed accidentally.

[2015-01-26 14:13] cmgiven commented on #94
I can reproduce in Safari. Note that the issue is actually with the school value (the purple bar) being too big, not the yellow line being too small.

[2015-01-26 14:14] cmgiven commented on #94
Found it. There's a min-width rule on the bar. This needs to be removed.

```min-width: 45px !important;```

[2015-01-26 14:16] gwenrr commented on #94
Thank you!

[2015-01-26 14:23] #92 closed

[2015-01-26 14:25] mepps commented on #94
Fixed on prod.
![screen shot 2015-01-26 at 9 25 02 am](https://cloud.githubusercontent.com/assets/4406809/5901060/3bb7a7d8-a53d-11e4-96d2-0a499a696841.png)

[2015-01-26 14:25] #94 closed

[2015-01-26 14:31] mepps opened #95 "Formatting: "null" to null"
Hey Ben,

This isn't urgent, but in the most recent files (I think just attendance), the word null has quotes around it. I've had to change this with a find and replace since it will end up representing it differently. It would be better if it were changed in the etl file in the future. Thanks!

Maggie

[2015-01-26 14:33] mepps opened #96 "Formatting: add Export/JSON/lea/4002/enrollment.json to .gitignore"
This can probably also go in the parking lot, but it causes an import error until I manually remove it.

[2015-01-26 14:34] cmgiven commented on #95
I believe these only occur as placeholders for average daily attendance, a measure that we don't currently use anywhere on the site. Thanks for adding to the tracker. Let's move to the parking lot for now.

[2015-01-26 14:38] cmgiven commented on #96
This is DYRS. Currently just a nulled enrollment exhibit and a SPED APR exhibit. Ben, perhaps this entire LEA should be ignored?

[2015-01-26 14:42] benjaminrobinson commented on #96
That would just entail adding their file to the .gitignore file, right?  Sure.

[2015-01-26 14:43] cmgiven commented on #96
Yup, if you do it like this it will ignore the entire directory.

```Export/JSON/lea/4002```

Just remember to git rm it before making changes to the .gitignore.

[2015-01-26 14:53] benjaminrobinson commented on #96
Can do!

[2015-01-26 14:58] benjaminrobinson commented on #95
Thanks for finding that, Maggie!  If Chris is right and that is the only place where this occurs, we can work something out but if not it probably has something to do with the ETL scripts themselves.  The jsonlite package in R has a function that allows for the treatment of missing values as either strings or as nulls and we choose to show them as nulls (and always have to my knowledge).  If limit

[2015-01-26 15:08] mepps commented on #96
Thanks, Ben! Also these files: 	converted/school/0104/mid_year_entry_and_withdrawal.json
	converted/school/0128/mid_year_entry_and_withdrawal.json
	converted/school/0137/mid_year_entry_and_withdrawal.json
	converted/school/0216/mid_year_entry_and_withdrawal.json
	converted/school/0456/mid_year_entry_and_withdrawal.json
	converted/school/0462/mid_year_entry_and_withdrawal.json
	converted/school/111

[2015-01-27 17:58] mepps opened #97 "Formatting: fiscal_year to year in sped_apr"
Hey Ben, as we develop the sped_apr exhibit, I wanted to point your attention to a change I had to make on my end to the keys. I changed fiscal_year to year so that it is consistent with the rest of the data. Is that an easy change to the etl? This is not urgent, just wanted to point it out.

[2015-01-28 15:25] benjaminrobinson commented on #97
It can be changed easily in the ETL, I just want to make sure that the fiscal year is matched to the correct school year but this isn't a big problem to fix at all...thanks for bringing it to my attention!

[2015-01-28 15:27] benjaminrobinson commented on #95
Should I just remove the average daily attendance from the JSON completely, @cmgiven?

[2015-01-28 15:31] cmgiven commented on #95
We can ask @mepps if that will cause API changes we'd prefer to avoid. I have no strong preferences here, but my sense is that these placeholders aren't harming anything, and if it's an easy fix to properly null them (probably by replacing a "null" string somewhere with an NA), that'd be the most straightforward option.

[2015-01-28 15:34] benjaminrobinson commented on #97
@gwenrr Do you know if the fiscal year is the same as a regular year here for the SPED APR?  Fiscal year here is listed as 2012...does that entail the '12-'13 school year and should be changed to 2013 for the year or the '13-'14 school year and 2014?  Or something completely different from what I'm talking about here?

[2015-01-28 15:46] benjaminrobinson commented on #96
@mepps:  We want these files added to the .gitignore or we want them to be added to the gitrm command?  Just checking before I do any irreparable harm or something like that... :smile:

[2015-01-28 15:52] cmgiven commented on #96
Two steps. We run git rm Export/json/school/0104/mid_year_entry_and_withdrawal.json ... to get rid of them. Make a commit along the lines of "deleted unwanted mid_year_entry_and_withdrawal exhibits." Poof, they're gone.

But if you were to now rerun the ETL, those files would be recreated, staged with the next git add -A, and committed with the next commit. So to prevent git from ever looking at t

[2015-01-28 16:28] mepps commented on #95
I don't think we're using average daily attendance, but I agree with Chris I think the best call is to null them, if the data is worth having there. Either shouldn't affect the front-end though.

[2015-01-28 16:29] benjaminrobinson commented on #95
Great...can do!

[2015-01-28 16:32] benjaminrobinson commented on #95
This should be changed with the next data commit/push...

[2015-01-28 16:32] #95 closed

[2015-01-28 16:37] benjaminrobinson commented on #96
Done and done...thank you, @cmgiven! :+1:

[2015-01-28 16:37] #96 closed

[2015-01-29 15:41] #85 closed

[2015-01-29 16:51] mepps opened #98 "value to val in sped_apr"
Ben--thanks for looking into fiscal year, and being on top of it! That's a good point about whether year means the same. It would also be helpful if value was changed to val to be consistent with other data.

[2015-01-29 16:52] benjaminrobinson commented on #98
Just making sure these issues are tied together...That is also something else I can do! #97

[2015-01-29 16:53] mepps commented on #98
Awesome!

[2015-01-29 16:57] #98 closed

[2015-01-29 16:57] benjaminrobinson commented on #98
Will be made in the next commit/push...

[2015-01-29 17:41] benjaminrobinson commented on #97
We might have to come up with a creative solution in the written text on this page @cmgiven since the federal fiscal year does not map onto school years at all!  I can change the variable name to year here but I think explanatory text might be necessary to explain the distinction for the data for this exhibit.

[2015-01-29 17:41] #97 closed

[2015-02-02 14:46] mepps opened #99 "Sped APR: Data from 2012?"
This is just a question, but I'm noticing most of the sped_apr data is from 2012. Is this correct?

[2015-02-02 14:49] benjaminrobinson commented on #99
FY 12-13 I believe, yes...I'm not 100% sure on the specifics so maybe @gwenrr can enlighten us!

[2015-02-02 14:53] mepps opened #100 "Sped APR: 3c key changes"
In apr.json 3c elementary reading has they key:    "3c_elem-math", but in sped_apr it's           "3c_elem.math". This is causing these metrics not to show up and would require custom coding around. Ben, hoping this is a small fix? Thanks!

[2015-02-02 14:56] mepps commented on #99
@benjaminrobinson Good point about it being fiscal year!

[2015-02-02 15:00] benjaminrobinson commented on #100
Will be implemented/fixed in the next push!  Not sure why we never noticed that (probably because no one was doing the development on it yet and hadn't looked closely at the data) but it will be fixed in the next push for sure.

[2015-02-02 15:00] #100 closed

[2015-02-02 15:00] mepps commented on #100
Thanks, Ben!

[2015-02-02 15:01] benjaminrobinson commented on #99
Maybe @cmgiven can help us out here as well...Is the LEA SPED APR data supposed to match the SPED APR data on the DC state profile?

http://www.learndc.org/schoolprofiles/view?s=dc#profile

[2015-02-02 15:01] gwenrr commented on #99
Yes - this data is from FFY 2012 (7/1/2012-6/30/2013) specifically. The gap represents a reporting / analysis lag (I guess). The similar SPED APR data at the state level (on the state report card) is for this same year. (Not sure why this FFY is different from the traditional FFY, which runs from 10/1 to 9/30).

[2015-02-02 17:55] mepps opened #101 "Front-end: Handling of null values in Sped apr?"
How do we want null values displayed from the sped APR data? Should those indicators not display? Thanks!

[2015-02-02 17:58] benjaminrobinson commented on #101
I think this is a similar issue to #95, right?

[2015-02-02 17:59] mepps commented on #101
@benjaminrobinson No, this is just for me to know how I should account for null values in this specific exhibit. Nothing you need to do though!

[2015-02-02 18:06] cmgiven commented on #101
In the case of 18, 19, and 20, yes, those are state-only and should be hidden. Are you seeing that elsewhere, though? In this case we should confirm during today's meeting. I see some nulls for the targets on 15 for DCPS, for example, but it does have a value.

[2015-02-02 18:27] mepps commented on #101
See https://github.com/socialdriver/learndc-data/blob/master/converted/lea/0170/sped_apr.json for an example, where most indicators have null values but a couple have values.

[2015-02-02 18:29] cmgiven commented on #101
Gotcha. Ben, do you have any idea why these are nulled? What does the source data show?

[2015-02-02 18:40] benjaminrobinson commented on #101
This was survey data collected from LEAs...so sometimes they didn't provide an answer and were left blank so there are a ton of missing values in the dataset (this was why I made the reference to the previous issue, which is similar in that this is how we treat missing values but in that case there was a whole column of data that wasn't doing anything and this is much more spotty in that regard)..

[2015-02-02 18:50] cmgiven commented on #101
Gotcha. Then let's definitely raise during the meeting. We probably should note non-reporting in some way.

[2015-02-02 22:11] benjaminrobinson opened #102 "ReportCards has come in as a submodule"
Will work on finding a way to "un-submodule a git submodule"...Just wanted everyone to know!  Will this have a negative effect on the data import, @cmgiven or @mepps?

[2015-02-02 22:12] benjaminrobinson commented on #102
Is this a good way to go about the situation?
http://stackoverflow.com/questions/1759587/un-submodule-a-git-submodule

[2015-02-02 22:17] #99 closed

[2015-02-02 22:18] benjaminrobinson commented on #101
I don't think we raised this during the meeting...so what do we want to do about this?

[2015-02-02 22:26] mepps opened #103 "Can't parse overview.json file"
Hi Ben, I'm getting an error with the overview.json files that they can't be parsed. However, when looking at the files, I don't see anything wrong. Do you know why this could be happening? Also, should they be imported with this push?

[2015-02-02 22:46] benjaminrobinson commented on #103
I would consult @cmgiven  but I don't think they are is a necessity that the overview files be imported with this push...However, that is strange that they can't be parsed.  The files do look like they are standard json so that is definitely weird.  I'll come back to this tomorrow morning.

This file from the LearnDC repo:  https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/0101/

[2015-02-02 23:06] cmgiven commented on #102
I've never encountered submodules before. No real urgency here, as we can see the exports. And this code should eventually be replaced with something much more similar to the new ETL, rather than this old string concatenation approach.

[2015-02-02 23:12] cmgiven commented on #103
It can't parse because the 2014 PMF key object is missing the "category." See below.

[code]

[2015-02-02 23:13] cmgiven commented on #103
Also, not a necessity that they be imported with this push, although if its a quick fix tomorrow, that would be ideal.

[2015-02-03 15:12] benjaminrobinson commented on #103
The new PMF data from PCSB for 13-14 tiers did not come with a category designation so that would just be a missing value all the way through...Should I just add a column to the table to make the tables match and re-create the overview files that way?

[2015-02-03 15:23] cmgiven commented on #103
Yeah; we're not currently doing anything with it, but it is intended to support the ability to have two PMFs for a single school. If it was present, a null value would probably suffice.

[2015-02-03 15:26] benjaminrobinson commented on #103
I see...I can make the change and commit and push the files now if you'd like!

[2015-02-03 15:40] benjaminrobinson commented on #103
Changes have been committed to the site...

[2015-02-03 15:41] benjaminrobinson commented on #102
Agreed...

[2015-02-03 17:15] benjaminrobinson commented on #103
@mepps:  can you please update me when you can on whether the newly committed/pushed overview json files have been imported and are parseable!  Thanks!

[2015-02-03 17:29] cmgiven commented on #103
Unfortunately, Maggie just let me know that the files again refused to parse. @mepps: do you have an suggestions as to where to look to diagnose what is causing the problem? As far as I can tell, the format matches, and the files are valid JSON.

[2015-02-03 17:41] mepps commented on #103
I printed the error message and it's:

undefined method `[]' for nil:NilClass

I'm investigating where that's coming from, but maybe the empty array in data?

		"data": [

		]

[2015-02-03 17:43] mepps commented on #103
Still testing and I'm not sure that's it

[2015-02-03 18:55] gwenrr commented on #101
I now see there are lots of missing values when I look at the staging site. We will have to do some investigation on our end and may put this further off.

[2015-02-03 19:53] mepps commented on #103
It looks the error is coming from somewhere it's trying to read the file--still looking.

[2015-02-03 21:28] mepps commented on #103
I think it just has to do with the structure being slightly different. the error was coming from the script where we downcase all subgroup names which we wouldn't want to do with this data anyways. I'll just have to add an exception for overview.json.

[2015-02-03 21:28] #103 closed

[2015-02-05 16:32] benjaminrobinson opened #104 "DC Report Card CAS Subgroup Keys Showing?"
Something's rotten in the State Report Card...(Hamlet reference ftw) but in all seriousness...this probably shouldn't be showing!

![image](https://cloud.githubusercontent.com/assets/7928978/6064232/9c4740d2-ad2a-11e4-9bb3-912a30e45f59.png)

[2015-02-05 16:40] cmgiven opened #105 "PCSB Tiers and URLs need to be updated"
It appears to be a valid link, but the javascript click event callback is preventing it from taking the user to the destination.

This is on the report card of any charter school, for example: http://www.learndc.org/schoolprofiles/view?s=1100#reportcard

[2015-02-05 17:59] mepps commented on #104
Ben, where are you seeing this? Here's what I see on the DC State report card. (Also I'm at home sick today, so may not be as responsive.)
![screen shot 2015-02-05 at 12 58 15 pm](https://cloud.githubusercontent.com/assets/4406809/6065877/b2f7bdfa-ad36-11e4-9f3d-7af053393c06.png)

[2015-02-05 18:01] cmgiven commented on #104
Change "Compare" to "Subgroups".

Hope you feel better!

[2015-02-05 18:02] benjaminrobinson commented on #104
Exactly what Chris, said...Feel better soon, Maggie!

[2015-02-05 18:07] gwenrr commented on #104
It seems this is only in proficiency (not in participation or performance levels).

[2015-02-06 16:26] benjaminrobinson opened #106 "Funky Split Second Image Showing"
This image shows for what seems like a split second when reloading a page or moving from one school page to another (by changing the numbers in the URL)...not sure why its happening but I figured I'd bring it up...

![image](https://cloud.githubusercontent.com/assets/7928978/6082919/d121eb18-adf2-11e4-8b89-a04927e38524.png)

[2015-02-06 16:27] benjaminrobinson commented on #106
Just to let everyone know, the page doesn't display this image for very long...I had to get a screenshot at exactly the right moment!

[2015-02-06 16:38] cmgiven commented on #106
Yes, I've seen this too. Not just on School Profiles pages. Just started today, though, so possible related to the Acquia transition somehow?

[2015-02-06 16:45] benjaminrobinson commented on #106
Glad I'm not the only one...was starting to think I was getting OSSE related paranoia, which would be very strange!

[2015-02-06 16:47] cmgiven commented on #106
Oh, right, I forgot we added that subliminal messaging feature.

[2015-02-06 16:51] benjaminrobinson commented on #106
:dizzy_face:

[2015-02-09 14:01] mepps commented on #104
![screen shot 2015-02-09 at 9 00 22 am](https://cloud.githubusercontent.com/assets/4406809/6107587/23391bf8-b03a-11e4-9a9c-156ba6959398.png)

Fixed on prod.

[2015-02-09 14:01] #104 closed

[2015-02-09 14:22] mepps commented on #105
I'm looking into this. This error appears in the console:  Uncaught TypeError: Cannot read property 'top' of undefined app.js:228

[2015-02-09 14:24] cmgiven commented on #105
Yes, because it's not an anchor link. Needs to go off page.

[2015-02-09 14:29] mepps commented on #105
I got this working locally but the link for school 1100 goes to http://www.dcpcsb.org/SchoolProfile.aspx?sid=21 and that returns a Page not found error. Any thoughts?

[2015-02-09 14:32] cmgiven commented on #105
Great. Let's push the fix so that the bug is closed on our end. The URLs are defined in the data files, so @benjaminrobinson, flagging for you.

[2015-02-09 14:43] mepps commented on #105
I've deployed the change to prod, but are we sure that's where the link should go? I tested another school and it also got a page not found error.

[2015-02-09 14:47] cmgiven commented on #105
PCSB redid their site recently, and clearly didn't redirect old links. They will be updated once Ben can recreate the exhibit with the new ETL.

[2015-02-09 14:47] mepps commented on #105
Thanks Chris!

[2015-02-09 14:55] cmgiven commented on #105
Thanks, Maggie. I'm not seeing the fix after clearing my cache. Possibly related to Acquia transition?

[2015-02-09 14:56] mepps commented on #105
Hmm, I'm on the live site and the links are working. I just cleared an additional cache though so see if if works for you now.

[2015-02-09 14:57] cmgiven commented on #105
That did the trick.

[2015-02-09 14:57] mepps commented on #105
Great!

[2015-02-09 15:11] benjaminrobinson commented on #105
I think I know what's happening with the old links...So the links from previous PMF Tier data sites have all been consolidated on PCSB's end (i.e. one can view PMF data from 2012 or earlier using the same site to view the new data.).  These new URLs can be found in the overview files that I pushed.  Does that make sense at all?

[2015-02-09 15:12] cmgiven commented on #105
Yes. But in addition to the overview files, we need updated pcsb_pmf report card exhibits. These are what power the dashboard icon.

[2015-02-09 15:15] benjaminrobinson commented on #105
Hmm...the overview files should include new PMF tier and score data.  Here's an example!
https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/0153/overview.json

[2015-02-09 15:17] cmgiven commented on #105
Yes, we see them there. However, the report card doesn't know about the overview files. It's looking for the presence of a pcsb_pmf exhibit, which has yet to be updated.

[2015-02-09 15:17] cmgiven commented on #105
Example: https://github.com/socialdriver/learndc-data/blob/master/converted/school/0101/pcsb_pmf.json

[2015-02-09 15:20] benjaminrobinson commented on #105
I see...will try to get on that.

[2015-02-10 19:22] benjaminrobinson commented on #105
The pcsb_pmf.json files will be uploaded to the repository at the time of the next data push/commit!

[2015-02-10 19:22] #105 closed

[2015-02-10 19:26] benjaminrobinson commented on #102
Chris and I discovered why the ReportCards came in as a submodule and have come to the conclusion that its actually probably a good idea for the ReportCards to stay that way (as a submodule) and then they can go away once the creation of the rest of the individual JSONs has occurred on OSSE's end.  This list of files includes:
- pcsb_pmf (done!)
- overview (done!)
- program_info
- special_ed
- amo

[2015-02-10 19:26] #102 closed

[2015-02-11 14:21] mepps commented on #106
I've been able to figure out which svg is, I will ask a designer if they can resize it.

[2015-02-11 16:23] benjaminrobinson commented on #106
So do we now why this is happening?  Is it related to Acquia?

[2015-02-13 16:52] gwenrr opened #107 "ER - wrong year labels; SC = 1110 and 0218"
For SC = 1110
![screenshot 2015-02-13 11 46 16](https://cloud.githubusercontent.com/assets/7264714/6191343/a84b6320-b376-11e4-9128-16cf588c2ee9.png)

[2015-02-13 16:52] gwenrr opened #108 "ER - percent labels missing SC = 0196"
![screenshot 2015-02-13 11 49 13](https://cloud.githubusercontent.com/assets/7264714/6191366/d77cdcfa-b376-11e4-8eb9-57fbd312c450.png)

[2015-02-13 17:11] benjaminrobinson commented on #101
Reasons for missing values are included here:

http://osse.dc.gov/sites/default/files/dc/sites/osse/publication/attachments/FFY%202012%20Public%20Reporting_Revised%20on%2012%209%202014.pdf

Removing missing values drops number of rows in our dataset from 2,124 to 678...Having discussions internally on best way to move forward.

[2015-02-13 19:07] mepps commented on #108
Looks like a range issue. I'm looking into it, but it's a little more complicated than past range issues.

[2015-02-13 19:32] mepps commented on #107
![screen shot 2015-02-13 at 2 32 03 pm](https://cloud.githubusercontent.com/assets/4406809/6193843/1d315c56-b38d-11e4-891b-81aa85305278.png)
Fixed on prod.

[2015-02-13 19:32] #107 closed

[2015-02-13 19:45] benjaminrobinson commented on #108
Also, this doesn't look good!
![image](https://cloud.githubusercontent.com/assets/7928978/6194092/f613b22a-b38e-11e4-8bfc-b64c0d11086f.png)

[2015-02-13 19:47] benjaminrobinson commented on #108
Same school...Is this a cache issue potentially?

[2015-02-23 20:53] mepps commented on #106
We resized the image and it has been fixed on staging and prod. Can't show a screen shot since it's not happening :).

[2015-02-23 21:01] benjaminrobinson commented on #106
Subliminal messaging, I will miss thee!...:)

[2015-02-24 01:52] benjaminrobinson commented on #106
I am still seeing it...

[2015-02-24 01:54] mepps commented on #106
Try clearing your browser caches. It's not showing up for me anywhere I've cleared the caches.

[2015-02-24 15:58] gwenrr commented on #106
Just cleared my browser cache and it is still happening for me

[2015-02-24 16:57] benjaminrobinson commented on #106
Same here...

[2015-02-24 17:13] mepps commented on #106
Made new changes. Can you guys clear caches again and see if it's happening?

[2015-02-24 20:46] benjaminrobinson commented on #106
I don't see it anymore!

[2015-02-24 20:48] mepps commented on #106
Yay!

[2015-02-24 20:49] benjaminrobinson opened #109 "Accountability/School Classification Exhibit Duplicate Detail Listing and/or Missing Summary"
In some cases, the summary tab of the Accountability exhibit does not show on the school report card page:
![image](https://cloud.githubusercontent.com/assets/7928978/6358826/7ab53340-bc3c-11e4-8996-83d6d39d3778.png)

and in all others the detail tab of the Accountability exhibit is showing each value two times:

![image](https://cloud.githubusercontent.com/assets/7928978/6358842/8a901910-bc3c-11e

[2015-02-26 15:00] benjaminrobinson commented on #109
@mepps any idea why this is happening?

[2015-02-26 19:52] mepps commented on #109
Hi Ben, I'm looking into this.

[2015-02-27 14:17] gwenrr opened #110 "Equity Reports - DC CAS historical data"
Either a mislabeling or a mis-ordering

![screenshot 2015-02-27 09 16 11](https://cloud.githubusercontent.com/assets/7264714/6413860/639c58d8-be61-11e4-8d48-cb75b5ffe327.png)

[2015-02-27 14:20] mepps commented on #110
Hi Gwen, Looks like that's the data's orders for the years. I'll add something in the code to order them on the front end. Might be worth working on in the data for the long run since other developers working with the code might assume it would be ordered by year.

[2015-02-27 14:21] benjaminrobinson commented on #110
I can run some code to order the data by year if we want to...its just that I need to figure out how to make the CAS code run in less than 6 hours first!

[2015-02-27 16:53] benjaminrobinson opened #111 "School Code 0117 switches between Potomac Lighthouse PCS to Potomac Preparatory PCS when starting on Overview and moving to Report Card"
Overview example:
![image](https://cloud.githubusercontent.com/assets/7928978/6415644/5dc4a3d6-be6e-11e4-9400-6736300f0600.png)

Report Card example:
![image](https://cloud.githubusercontent.com/assets/7928978/6415654/69989924-be6e-11e4-8e5a-8689ea248250.png)

[2015-02-27 16:54] benjaminrobinson opened #112 "Name Changes for 6 PCS Schools"
I don't think this happens on my end or does it?

-  Change Name of School Code 0106 to Community Academy PCS - Amos 5
-  Change Name of School Code 1206 to E.L. Haynes PCS - Elementary School
-  Change Name of School Code 1138 to E.L. Haynes PCS - High School
-  Change Name of School Code 0146 to E.L. Haynes PCS - Middle School
-  Change Name of School Code 0160 to Hospitality High

[2015-02-27 18:15] cmgiven commented on #112
It does. School names are set in the overview files.

[2015-02-27 18:24] gwenrr commented on #111
To be clear, the right name is Potomac Preparatory

[2015-02-27 19:03] benjaminrobinson commented on #112
Should be changed with the next push!

[2015-02-27 19:03] #112 closed

[2015-02-27 22:39] mepps commented on #110
![screen shot 2015-02-27 at 5 38 43 pm](https://cloud.githubusercontent.com/assets/4406809/6422512/829c6b1a-bea7-11e4-86bd-bf4fd741cbe1.png)
Fixed on prod in front end.

[2015-03-02 15:09] gwenrr commented on #110
Thank you!

[2015-03-02 15:09] #110 closed

[2015-03-02 16:15] mepps commented on #109
This is because we hadn't deleted the school_ files on our end. However, I noticed that DC still doesn't have a specific accountability file. Working on resolving this now.

[2015-03-02 16:17] benjaminrobinson commented on #109
You're saying that the state doesn't have an accountability file? I can create that...I should have seen that earlier!  Thanks, @mepps!

[2015-03-02 16:35] benjaminrobinson commented on #109
Accountability file for the state has been created and will come along with the next push of data...

[2015-03-02 16:38] gwenrr commented on #108
seems fixed on prod

[2015-03-02 17:32] mepps commented on #109
Awesome Ben! I'm importing the data without the school_ files now for staging. It fixed the issue when I did that import locally.

[2015-03-02 19:09] gwenrr opened #113 "acgr pullouts for some schools showing 5yr instead of 4yr rates"
![screenshot 2015-03-02 14 06 28](https://cloud.githubusercontent.com/assets/7264714/6448084/6b9a9636-c0e5-11e4-968e-085e42111cd0.png)
![screenshot 2015-03-02 14 06 11](https://cloud.githubusercontent.com/assets/7264714/6448085/6b9b6ec6-c0e5-11e4-9b6c-6eddbdfafc74.png)

Other examples include 0450, 0153, 0186, 0101, 0161

[2015-03-02 19:17] gwenrr opened #114 "ACGR IDEA PCS (SC = 0163) not showing"
No data showing (and pullout likely showing 5yr data) although you can download with the download button

![screenshot 2015-03-02 14 16 31](https://cloud.githubusercontent.com/assets/7264714/6448293/e6477452-c0e6-11e4-8bbc-aefb62936d2f.png)

[2015-03-02 19:18] gwenrr commented on #113
This is happening both on ER and on report card for these schools

[2015-03-02 19:34] mepps commented on #114
![screen shot 2015-03-02 at 2 33 44 pm](https://cloud.githubusercontent.com/assets/4406809/6448603/278832ba-c0e9-11e4-9afe-175e3f438337.png)

Fixed on prod.

[2015-03-02 19:34] #114 closed

[2015-03-02 19:36] gwenrr commented on #113
add sc = 0163 to this list

[2015-03-02 22:44] gwenrr opened #115 "one more ACGR - Richard Wright sc=3067"
graduation exhibit should be hidden on report card (it is already hidden on equity report)

school only goes to 11th grade

![screenshot 2015-03-02 17 42 53](https://cloud.githubusercontent.com/assets/7264714/6452436/b57eaecc-c103-11e4-8009-9b7b54b1122d.png)

[2015-03-03 20:58] gwenrr commented on #113
Can I get an ETA about when this might be fixed - we are working on ACGR public release. Thanks.

[2015-03-04 14:11] cmgiven commented on #115
This is a data issue. The data file shows a 2014 cohort of 11 students, none of whom graduated.

https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/3067/graduation.json

[2015-03-04 14:30] cmgiven commented on #113
The pull-out issue has been resolved. @mepps is currently troubleshooting the dashboard icon, but it seems likely that we'll be able to resolve that issue today.

[2015-03-04 14:31] gwenrr commented on #113
Thank you - please keep me posted, if possible.

[2015-03-04 14:31] cmgiven commented on #113
Will do.

[2015-03-04 15:06] mepps commented on #113
![screen shot 2015-03-04 at 10 06 36 am](https://cloud.githubusercontent.com/assets/4406809/6486053/2a7305b8-c256-11e4-9ba3-6c0c388ba09a.png)

Resolved on prod.

[2015-03-04 15:10] cmgiven commented on #113
Confirmed. We're good to go here, Gwen.

[2015-03-04 15:10] #113 closed

[2015-03-04 15:23] benjaminrobinson commented on #106
Still seeing it occasionally for whatever reason...

[2015-03-04 15:31] benjaminrobinson opened #116 "IDEA PCS's (School Code 0163) Enrollment Equity Report Exhibit Not Showing Data"
![image](https://cloud.githubusercontent.com/assets/7928978/6486510/87854e98-c259-11e4-8c4d-26249183befd.png)

[2015-03-04 16:15] mepps commented on #116
![screen shot 2015-03-04 at 11 14 48 am](https://cloud.githubusercontent.com/assets/4406809/6487532/b3c29938-c25f-11e4-9c97-600523893340.png)

It was a cache issue and it's fixed on prod.

[2015-03-04 16:16] #116 closed

[2015-03-04 17:27] gwenrr commented on #115
Ben - please change the suppression to n<25

[2015-03-04 17:35] gwenrr opened #117 "Eastern HS (sc=457) ACGR report card exhibit"
Can we hide this for this year? It says 0%. Eastern did not have a 9th grade class in SY2010/2011, so a four-year graduation rate is not possible.

The other alternative would be for the exhibit to say N/A.

But this school will eventually have a graduation rate. Just not this year.

[2015-03-04 17:36] gwenrr commented on #115
Would it be possible to hide this exhibit for this year instead?

[2015-03-04 19:12] cmgiven commented on #117
This is set by the data files. Currently there's a cohort of 27 students with 0 graduates.

[2015-03-04 19:12] cmgiven commented on #115
This is defined by the presence of a data file. We can hide by removing the data.

[2015-03-06 19:12] benjaminrobinson commented on #115
Will this and #117 both require a git rm...or just an addition to the .gitignore or both?  We don't want to completely remove the graduation exhibit for these schools since we expect them to have graduation exhibits in the future.  Hope everyone is doing OK in the wake of the winter storm!

[2015-03-06 20:46] gwenrr opened #118 "dowload data button - enrollment"
Something weird is going on with the download data button - it is missing the actual numbers.

I clicked on download from the enrollment exhibit on the profile - and the columns I got were org type, org code, grade, year, subgroup - but no actual numbers of enrollees.

Hmmm.
![screenshot 2015-03-06 15 46 12](https://cloud.githubusercontent.com/assets/7264714/6536038/fbc60300-c417-11e4-9744-c1de5f3

[2015-03-06 20:51] benjaminrobinson commented on #118
JSON API calls are working fine but the CSV call is where the issue is...

[2015-03-06 21:40] mepps commented on #118
It looks like it's just this exhibit. @psteininger it's going to this url: https://learndc-api.herokuapp.com/api/exhibit/enrollment.csv?s[][org_type]=school&s[][org_code]=0452

[2015-03-09 12:11] cmgiven commented on #115
Both (remember: `git rm`, commit the removal, add to `.gitignore`, commit the changed `.gitignore`). When you're ready to restore, just remove from the `.gitignore` and make a new commit.

[2015-03-09 12:57] gwenrr commented on #115
Thanks, @cmgiven and @benjaminrobinson

[2015-03-09 13:16] mepps commented on #109
![screen shot 2015-03-09 at 9 16 23 am](https://cloud.githubusercontent.com/assets/4406809/6555492/faba8130-c63c-11e4-892d-df8110e3c399.png)

Fixed on prod.

[2015-03-09 13:18] #109 closed

[2015-03-09 13:55] #117 closed

[2015-03-09 13:55] #115 closed

[2015-03-09 13:55] benjaminrobinson commented on #115
This will go up with the next push of data.

[2015-03-09 14:05] gwenrr commented on #111
Looks fixed to me

[2015-03-09 14:10] benjaminrobinson commented on #111
Its not.

[2015-03-09 14:12] benjaminrobinson commented on #111
![image](https://cloud.githubusercontent.com/assets/7928978/6556546/a52ea3a6-c644-11e4-9c92-c4ada81163af.png)

![image](https://cloud.githubusercontent.com/assets/7928978/6556564/bd99bfc0-c644-11e4-98d2-77322d33c3c9.png)

[2015-03-09 15:22] mepps commented on #118
I think the issue is that the data is structured slightly differently than the other downloaded exhibits. Because the others have multiple values in val and enrollment has only one. We will have to add handling for this. @psteininger let me know if you have any thoughts on that.

[2015-03-09 15:28] mepps commented on #118
Nevermind, it's resolved. I just need to push the fix live.

[2015-03-09 15:33] mepps commented on #118
![screen shot 2015-03-09 at 11 33 08 am](https://cloud.githubusercontent.com/assets/4406809/6558065/1686bc0e-c650-11e4-8a2c-448c5fccf662.png)

Attached screenshot is from prod. Fixed.

[2015-03-09 15:33] #118 closed

[2015-03-09 19:32] mepps opened #119 "Download buttons not work in Firefox, IE"
reported by @gwenrr

[2015-03-09 19:32] mepps commented on #119
Pushing fix to prod

[2015-03-09 20:18] mepps commented on #119
Fixed and confirmed working in Firefox, Safari, IE.
![vmware fusionscreensnapz005](https://cloud.githubusercontent.com/assets/4406809/6563493/e41d86bc-c677-11e4-81ac-46f68dc061e0.jpg)

[2015-03-09 20:18] #119 closed

[2015-03-10 21:04] benjaminrobinson opened #120 "Do the CSV Files in the Export Folder Serve a Purpose?"
Was just wondering about the CSVs in the Export folder...I have updated some of them recently but I'm unsure of what purpose they serve other than that the data is available in CSV format.  We have a space on the OSSE website for commonly requested datasets so if that was the purpose I think we've decided that that is where they should lie.

http://osse.dc.gov/publication/commonly-requested-data

[2015-03-13 14:09] mepps opened #121 "Formatting: HQT Classes has two different keys school_entity and school_category"
@benjaminrobinson can these all be school_category?

[2015-03-13 14:11] benjaminrobinson commented on #121
Yes...Not sure why I called those that.

[2015-03-13 14:37] #121 closed

[2015-03-13 14:50] benjaminrobinson commented on #108
This problem exists on other graphs (not just the one displayed below) in this school's equity report:

![image](https://cloud.githubusercontent.com/assets/7928978/6640547/93a1ad86-c96e-11e4-9d9c-90093842bbb4.png)

I wonder if this problem exists on other graphs across the site...might be that the range issue is larger than previously thought.

[2015-03-13 16:11] benjaminrobinson commented on #121
This has been commushed (that hybrid word I made up yesterday) on our end...

[2015-03-13 16:17] mepps commented on #121
Awesome. Re-trying the import.

[2015-03-13 17:42] mepps commented on #121
Thanks, Ben! The import on my local machine went smoothly this time.

[2015-03-13 17:43] benjaminrobinson commented on #121
:smiley:

[2015-03-13 20:21] gwenrr commented on #108
yes - lots of problems with the historical data link with DC CAS data (missing percents etc.)
![screenshot 2015-03-13 16 18 54](https://cloud.githubusercontent.com/assets/7264714/6646597/f55173ee-c99c-11e4-95e4-e79ee87020fc.png)
![screenshot 2015-03-13 16 19 11](https://cloud.githubusercontent.com/assets/7264714/6646596/f5508470-c99c-11e4-88fa-e279cff7ae9e.png)

[2015-03-13 20:22] gwenrr commented on #120
The purpose is so someone looking at Learn DC doesn't have to go somewhere else to download the data

[2015-03-13 20:24] benjaminrobinson commented on #120
Where do these files appear on LearnDC proper?  All the data download buttons are just links to the API set to show CSVs instead of JSON.  The CSVs in the GitHub repo do not really do anything except sit there, which is why I was asking if they were necessary at all in that respect.

[2015-03-15 20:57] cmgiven commented on #120
These files are not consumed by LearnDC. They were created by Alex as a test of the new ETL.

[2015-03-15 20:57] #120 closed

[2015-03-16 20:09] mepps commented on #111
Looking into this.

[2015-03-16 20:49] mepps commented on #111
I think I've found why this is happening. The page title is generated by the old json files on the server. I will find where the other titles are generated and make the overview tab call from the same function.

[2015-03-16 20:51] benjaminrobinson commented on #111
Good.  Are some other updates to the school overview files that aren't appearing now going to show when you implement this change?  I made updates to some of the school overview files and they haven't shown up since being commushed.

[2015-03-16 20:52] mepps commented on #111
I will look into that too.

[2015-03-16 20:53] benjaminrobinson commented on #111
Thanks.  I have an example for you that should be able to show you if the new overview files are powering the overview tab information on the site!

What's on the site right now:
http://learndc.org/schoolprofiles/view?s=1206#overview

Associated overview.json file:
https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/1206/overview.json

[2015-03-18 15:32] mepps commented on #111
@benjaminrobinson can you review the overview tab on staging and let me know if the data looks right now?

[2015-03-18 15:33] mepps commented on #111
Also, I don't think we need the id: overview anymore--it may be causing import errors. Sorry, I've learned more about the structure of that exhibit.

[2015-03-18 18:19] benjaminrobinson commented on #111
Ok.  I think the Potomac issue has been revised but the example I used above isn't working is that because of the "id:  overview" bit?  Do you want me to remove the whole bit including the id part?  Could you send me a picture of what the JSON should look like so I can copy the formatting?

[2015-03-18 18:21] benjaminrobinson commented on #111
I also see that the "Links" section on the Overview tab on staging still includes a link to the non-existant links for the PMF Report Card?  Didn't we want to link that to the Report Card tab or something like that so user could reach the PCSB PMF dashboard site?

[2015-03-18 18:38] mepps commented on #111
We can return to this structure:

https://github.com/socialdriver/learndc-data/blob/master/converted/school/1206/overview.json

I apologize as I didn't realize how different this exhibit was from others.

I don't know much about the PMF link on the dashboard, I'll open a new issue to get Chris's input.

[2015-03-18 18:39] mepps opened #122 "PMF Link on Dashboard"
@benjaminrobinson I also see that the "Links" section on the Overview tab on staging still includes a link to the non-existant links for the PMF Report Card? Didn't we want to link that to the Report Card tab or something like that so user could reach the PCSB PMF dashboard site?

@cmgiven Any thoughts on the link on the dashboard?

[2015-03-18 19:10] cmgiven commented on #122
This looks like a data issue. If you look in overview.json, you can see that the old values are still appearing there under the key "external_report_card". Ben, once you update this to mirror the pcsb_pmf exhibit, the site will be updated as well.

[2015-03-18 19:16] benjaminrobinson commented on #122
Got it!  Thanks, Chris!

[2015-03-18 19:17] benjaminrobinson commented on #122
Tommy wrote some code to put the PMF data in the overview file and I can just earth that up and reuse it here.  I'll send you both a sample overview.json file to see if it fits what we're looking for, OK?

[2015-03-18 19:18] mepps commented on #122
Perfect Ben!

[2015-03-18 21:28] #122 closed

[2015-03-18 21:30] benjaminrobinson commented on #111
JSON formatting commushed.  Should work better now and the Potomac exhibit should change too once the fix is pushing to production from staging!

[2015-03-18 21:39] gwenrr commented on #111
Still has Potomac Lighthouse name on overview page
![screenshot 2015-03-18 17 37 35](https://cloud.githubusercontent.com/assets/7264714/6720039/ac1e247c-cd95-11e4-806d-8050b945e72f.png)

[2015-03-18 21:39] mepps commented on #111
Hey Gwen, haven't pushed the code prod yet, was making sure all the data was correct.

[2015-03-19 16:13] cmgiven opened #123 "Front-end: Grade filter on school search page does not work"
Searching for Pre-Kindergarten only returns a single school. Should include many others. Possibly related to the capitalization changes from a while back (numbered grades work fine)?

http://www.learndc.org/schoolprofiles/search

[2015-03-23 13:41] benjaminrobinson commented on #123
I'm seeing the same thing but Kindergarten looks to be working fine (I'm also looking at the staging site)...maybe related to the key changes related to the PS/PK switch to PK3/PK4 (or whatever the translation is exactly)...

[2015-03-23 14:08] mepps commented on #108
![screen shot 2015-03-23 at 10 04 28 am](https://cloud.githubusercontent.com/assets/4406809/6781441/0aff5e00-d144-11e4-86a4-3233b05d8676.png)

![screen shot 2015-03-23 at 10 07 22 am](https://cloud.githubusercontent.com/assets/4406809/6781487/6db9e542-d144-11e4-828e-78dbfca5e343.png)

This is fixed on staging for places where the percentages exceeded the range.

Gwen, in the second picture, I beli

[2015-03-23 14:10] cmgiven commented on #108
Yes, that's correct. Thanks, Maggie.

[2015-03-23 14:10] #108 closed

[2015-03-23 14:15] mepps commented on #123
Ben you're correct, it's the key change. This is what it's looking for:

"PS": { "name": "Enrollment: Preschool" }, "PK": { "name": "Enrollment: Pre-Kindergarten" }, "KG": { "name": "Enrollment: Kindergarten" }

We could change the filter to PK3/PK4, if that's consistent throughout the data.

[2015-03-23 14:24] benjaminrobinson commented on #123
It should be now, especially in the school overview files!  Will look into what's going on with the Walker Jones Early Stages file since it is showing up in the filers but nothing else is...

[2015-03-23 14:28] benjaminrobinson commented on #123
Walker Jones Early S.T.A.G.E.S. (school code 6000) doesn't have a folder in the Export/JSON/school directory so that must be happening on the Social Driver side?

[2015-03-23 18:26] mepps commented on #123
Looks like we have that file in our repo: https://github.com/socialdriver/learndc-data/tree/master/converted/school/6000

@benjaminrobinson and @cmgiven do you know the history of this school being in the data?

[2015-03-23 18:58] cmgiven commented on #123
I do not, no. The commit is dated data as of Nov 3, but the school was not present in the OSSE repo on that date. Perhaps it's a holdover from older data?

@benjaminrobinson, should this school be deleted?

[2015-03-23 19:02] benjaminrobinson commented on #123
I'm not sure...its something that I'd have to ask Jeff or @gwenrr about but if I had to guess it would be yes.  Walker Jones Early S.T.A.G.E.S is an early childhood special education school so it doesn't have a lot of data to begin with but I'll get back to you all on that!

[2015-03-25 14:03] cmgiven opened #124 "School performance levels not showing on DC CAS exhibit"
See http://www.learndc.org/schoolprofiles/view?s=1100#reportcard for example.

Using the Detail view of the DC CAS exhibit, switch the Display to Performance Levels. We can see the performance levels for the state, but not the school.

[2015-03-25 14:20] cmgiven commented on #111
Look at the grade range for this school: http://stage.learndc.org/schoolprofiles/view?s=1107#overview

Has that code been updated with the new PK3 and PK4 keys?

[2015-03-25 14:22] benjaminrobinson commented on #111
That's what I was noticing...PK3 and PK4 have changed but the underlying Java Script needs updating along with everything else.

https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/0117/overview.json

[2015-03-25 14:29] gwenrr commented on #111
enrollment tab for grade - is only showing all students (is this what you mean?)

[2015-03-25 14:31] cmgiven commented on #111
That's the only issue I've found. Everything else looks good.

[2015-03-25 14:42] gwenrr commented on #124
There also are no composition or science scores, which there should be, right?

[2015-03-25 15:44] mepps commented on #124
This is happening because in the state files there is a key "advanced" but this doesn't exist in the school files which only have "proficient_or_advanced" and "proficient".

[2015-03-25 15:45] mepps commented on #124
@cmgiven @benjaminrobinson Should I use proficient_or_advanced? My guess is that that would be the wrong data for this visualization.

[2015-03-25 16:04] benjaminrobinson commented on #124
Let me look into this...I think the LEA JSON files have advanced as a part of the key while the school JSON files do not.  This is just a simple fix that I can implement in the school DCCAS ETL but I need to do some snooping first!

[2015-03-25 18:30] benjaminrobinson commented on #124
This is definitely where the problem lies...I incorrectly numbered the key/value index to generate the JSON files.  Regenerating and will commush as soon as you'd like.

[2015-03-25 18:51] cmgiven commented on #111
Not sure what issue you're observing, Gwen. This is the appearance of "Undefined" in the list of grades on the Overview tab.

[2015-03-25 18:54] benjaminrobinson commented on #111
And "undefined" in the instance of Potomac Preparatory PCS are the PK3 and PK4 grades that are still only understood in the overview files as PS and PK and once those are changed and implemented on the site will show correctly...Right, @cmgiven and @mepps?

[2015-03-25 18:56] cmgiven commented on #111
That's my understanding, yes.

[2015-03-26 19:57] benjaminrobinson commented on #124
Do we need the new school level dccas.json files commushed in order for the data visualization documentation piece to be final?  I can do that as soon as you'd like...

[2015-03-26 20:48] cmgiven commented on #124
No, we just faked it. The data visualization guide was submitted this morning.

[2015-03-26 20:50] benjaminrobinson commented on #124
Ah...I did not receive that.  The LEA DC CAS Exhibit had the visualization that worked but the school side obviously did not.  Great catch, @cmgiven and @mepps!

[2015-03-26 20:51] benjaminrobinson commented on #124
Well...whenever we commush the next update this will be included so I'll close it so its not haunting us in the meantime.

[2015-03-26 20:51] #124 closed

[2015-03-31 14:01] benjaminrobinson opened #125 "HQT Table inclusion of Poverty Quartile"
Just wanted to put this in there since I brought it up in our meeting yesterday but didn't have a lot of time to think about more deeply.  I think it would be good to report on the high and low poverty quartiles for each of the schools and since the designation is in the data.  I remember @mepps said that it would be difficult to do because of the difference in the name of the variable in the JSON

[2015-03-31 18:54] benjaminrobinson opened #126 "Addition of Google Form for Schools/LEAs to Submit Corrections for Verification"
Not sure where we would potentially put this on the site but thought we could start a discussion on this here...We have been working with communications on a Google Form where stakeholders could submit corrections to LearnDC and we could see them on our end and address their concerns in that way. We are interested in either embedding the Google Form itself or a link to the form on the site somewhe

[2015-03-31 20:04] mepps opened #127 "State values in tables comparison data"
@benjaminrobinson @cmgiven In the school report cards Highly Qualified Teacher table, should that be compared against state data by type of school (middle, secondary, etc) or by poverty quartile? Note, if by poverty quartile, we might have to restructure the data.

[2015-03-31 20:27] benjaminrobinson commented on #127
Could we do both?  Let's talk tomorrow by phone if you have time about any potential data restructuring that may have to occur!

[2015-03-31 20:40] mepps commented on #127
It will be challenging to do both without really redoing the styling, but let's talk tomorrow afternoon. Thanks Ben!

[2015-03-31 21:01] gwenrr commented on #127
I think I need to be involved in this conversation before any decisions are made. I would like to understand better what is being proposed here and its implications before moving forward. Thank you.

[2015-03-31 21:05] mepps commented on #127
@gwenrr would you like to be part of a phone conversation tomorrow?

The challenge is that the data is broken up by both grade levels (Secondary vs Elementary) and poverty quartile (low vs high). At the school level, the data keys are separated into school category and poverty quartile. However, for LEAs and state data, the key is just school category for both grade level and poverty quartile.

Th

[2015-03-31 21:22] benjaminrobinson commented on #127
Let's talk tomorrow but a restructuring of the data on my end to make all the files look more like the school level hqt_ classes.json files is not a problem...

[2015-03-31 21:25] mepps commented on #127
Sounds good. I'll think through the implications of that on my end too.

[2015-04-01 13:51] benjaminrobinson commented on #125
There is also no mention of the year, which in the files I called it 2014 but maybe it should be 2013?  Not sure what to think here.  @gwenrr or @cmgiven, do you have any thoughts on whether this 2013-2014 data should have the year designation of 2013 or 2014?

[2015-04-01 14:55] gwenrr commented on #127
My day is pretty loaded already so I cannot participate in a call. I just don't want a lot of work (on our end, your end, or Collaborative's end) to be put into this without having a few minutes more to think about it. Thank you.

[2015-04-01 14:56] mepps commented on #127
@gwenrr that makes sense. I have it working where with the data as is, and we can pause until Monday otherwise.

[2015-04-01 15:10] cmgiven commented on #125
We default to the most recent year with the exception of enrollment, where it's the audit year. That would be the starting point, although it's open to discussion.

—
Sent from Mailbox

On Wed, Apr 1, 2015 at 9:51 AM, benjaminrobinson <notifications@github.com>
wrote:

[2015-04-01 15:12] benjaminrobinson commented on #125
I have no preference, I was just wondering what everybody else was thinking!

[2015-04-02 14:35] benjaminrobinson commented on #123
Same question about Maya Angelou Academy at New Beginnings (formerly Oak Hill), which is school code 0860...looks like it is a similar story to Walker Jones in that it has a school_overview and a staff_degree file on Social Driver's end but not on OSSE's end...Just bringing this back to people's attention!

[2015-04-02 14:51] mepps commented on #123
I have a fix for the grade filter live on staging. Let me know if it's working correctly.

[2015-04-02 14:53] mepps commented on #111
I have a fix for the overview tab "undefined" values that is live on staging now.

[2015-04-02 15:05] benjaminrobinson commented on #123
Looks like the grade filter is working!

[2015-04-02 15:06] benjaminrobinson commented on #111
I'm not seeing the fix implemented on staging...I'm using Firefox and Windows 7 to view the staging site...here's an example:

![image](https://cloud.githubusercontent.com/assets/7928978/6966598/45a61210-d928-11e4-8935-df425037bc34.png)

[2015-04-02 20:19] mepps opened #128 "Schools missing staff_degree"
https://github.com/socialdriver/learndc-data/blob/master/converted/school/0202/staff_degree.json

Hi Ben, the school above has staff_degree in our repo but not in the new one which is causing an error. Can you let me know any schools that don't have staff_degree anymore so I can delete the files on our end and re-run the import?

Thanks!
Maggie

[2015-04-02 20:36] gwenrr opened #129 "walker jones (sc = 6000)"
does not need to have a school profile - it's an IDEA screening site

[2015-04-02 20:39] mepps commented on #129
Thanks @gwenrr! I'll delete it from the data.

[2015-04-02 21:12] #129 closed

[2015-04-02 21:13] mepps opened #130 "School code 0860"
@gwenrr @cmgiven @benjaminrobinson Should this school be deleted from the SD data repo?

[2015-04-02 21:13] mepps commented on #130
@benjaminrobinson "Same question about Maya Angelou Academy at New Beginnings (formerly Oak Hill), which is school code 0860...looks like it is a similar story to Walker Jones in that it has a school_overview and a staff_degree file on Social Driver's end but not on OSSE's end...Just bringing this back to people's attention!"

[2015-04-03 18:35] benjaminrobinson commented on #130
I did some digging and Maya Angelou Academy at New Beginnings (formerly Oak Hill) is a DYRS school and we don't report on them so its safe to say that they aren't going to be in there but we'll get some more clarity on this.

[2015-04-03 18:36] benjaminrobinson commented on #128
This might be a little hard to do...can you tell me which schools have staff_degree JSON files on your end and then I can check if they exist on my end?  I can send you a list of school codes that have staff_degree files in our database.

[2015-04-06 12:55] #123 closed

[2015-04-06 17:49] gwenrr opened #131 "teacher data = labeling of state numbers missing on school exhibits"
![screenshot 2015-04-06 13 43 43](https://cloud.githubusercontent.com/assets/7264714/7008777/b1997118-dc63-11e4-80bc-ff3374d38f9a.png)

[2015-04-06 17:56] mepps commented on #131
![screen shot 2015-04-06 at 1 55 01 pm](https://cloud.githubusercontent.com/assets/4406809/7008924/9ac0d778-dc64-11e4-8967-8042a246bb4e.png)

Before we included the state data, leaving off the section headings for schools was intentional, because they don't have the same category breakdowns. Here's my suggestion though for consistency. (We can't use the same keys as in other places because of the

[2015-04-06 17:57] mepps commented on #131
We could also say "This School", or another label of your suggestion.

[2015-04-06 18:03] gwenrr commented on #131
"This School" and "This LEA" would be great - not "all school"

Could this not be the column heading in column #2?

[2015-04-06 18:04] cmgiven commented on #131
Yes, we've used "This School"/"This LEA" before.

[2015-04-06 18:14] mepps commented on #131
![screen shot 2015-04-06 at 2 13 20 pm](https://cloud.githubusercontent.com/assets/4406809/7009272/1dfd8b2a-dc67-11e4-8715-74b82b186624.png)

Here it is with "This School".

[2015-04-06 18:15] cmgiven commented on #131
Possible to have in the column above the numbers, so that it parallels State?

[2015-04-06 18:16] mepps commented on #131
Let's discuss this during the call.

[2015-04-06 18:17] cmgiven commented on #131
Oh, and also "State" should be "DC" consistent with elsewhere. You know, 'cuz it's not *technically*...

[2015-04-06 18:24] mepps commented on #131
![screen shot 2015-04-06 at 2 22 57 pm](https://cloud.githubusercontent.com/assets/4406809/7009464/72e6d852-dc68-11e4-9773-2b991b137e94.png)

Here's what it would look like with "This School" in that column. We would still need  a section header for that data or just leave it blank.

[2015-04-06 18:31] gwenrr commented on #131
Looks better! I think leave it blank. Right?

[2015-04-06 18:32] cmgiven commented on #131
I agree.

[2015-04-06 18:33] gwenrr commented on #131
Should also be same with LEA page. This LEA and DC

![screenshot 2015-04-06 14 32 58](https://cloud.githubusercontent.com/assets/7264714/7009673/e582b0ba-dc69-11e4-99b1-3f7f39218150.png)

[2015-04-06 18:38] mepps commented on #131
Good point @gwenrr. Just to note, this logic is trickier so it will take development time to make the adjustment. Let's discuss at 3.

[2015-04-06 18:39] benjaminrobinson commented on #131
@mepps:  Might it be easier with the data structure change we discussed in #127?  For sure a part of the discussion today...

[2015-04-06 19:20] mepps commented on #127
@cmgiven

[2015-04-06 19:20] mepps commented on #127
It sounds like we need to compare schools against all data for the state.

[2015-04-06 19:28] mepps opened #132 "Remove duplicate state column"

[2015-04-06 19:29] mepps opened #133 "DC comparisons Highly Qualified Teachers should use "All" values"

[2015-04-06 19:47] cmgiven commented on #127
Closing this to move discussion to #133.

[2015-04-06 19:47] #127 closed

[2015-04-06 19:48] cmgiven commented on #133
All comparison values that appear on school and LEA reports should use the values from the state data with the key `"school_category": "All"`.

[2015-04-06 19:50] cmgiven commented on #131
Per our call, the remaining piece here is to add logic to differentiate a school, LEA and state report card, add labels to the column "This School", "This LEA", and "DC" as appropriate, and remove the duplicate state column from that report card per #132.

[2015-04-06 19:52] cmgiven commented on #125
Per decision on the call, we do not need to identify the poverty quartile of a given school.

[2015-04-06 19:52] #125 closed

[2015-04-06 20:14] gwenrr opened #134 "teachers - statement about provisional / emergency licenses - state report card only"
We need to make sure this statement is not (again) dropped (we have had it on the site before - and needs to be included - it's part of federal requirement)

"No teachers have emergency or provisional credentials."

[2015-04-06 20:24] cmgiven commented on #134
Would it be possible to include everywhere? This would be easier than just including on the state, but let us know if that doesn't work.

On Monday, Apr 6, 2015 at 4:14 PM, gwenrr <notifications@github.com>, wrote:

We need to make sure this statement is not (again) dropped (we have had it on the site before - and needs to be included - it's part of federal requirement)

"No teachers have emergenc

[2015-04-06 20:26] mepps commented on #134
It would be really easy for it just to be on state and LEA.

[2015-04-06 21:20] gwenrr commented on #134
Looking at the guidance - I guess it needs to be on both. Thank you!

[2015-04-07 03:33] cmgiven commented on #134
Text is up now on staging. Inserted where I thought it made the most logical sense, but check out both the school and LEA/state versions and let me know if something else would work better.

[2015-04-07 03:33] #134 closed

[2015-04-07 12:52] gwenrr commented on #134
Looks good. It's one of those check-off-the-reporting-box things and not worth a huge time investment. Thank you, Chris.

[2015-04-07 14:25] mepps commented on #133
This has been changed in staging.

[2015-04-07 14:25] #133 closed

[2015-04-07 14:26] mepps commented on #132
![screen shot 2015-04-07 at 10 26 06 am](https://cloud.githubusercontent.com/assets/4406809/7025271/8a9d62c4-dd10-11e4-9f70-61585e50de1f.png)

Fixed in staging. thought it was duplicative to say DC with only one column but can change that.

[2015-04-07 14:26] #132 closed

[2015-04-07 14:35] mepps commented on #128
@benjaminrobinson I saw this again with 0204.

On our end, all the leas with staff_degree are:

0000, 0001, 0104, 0106, 0108, 0109, 0113, 0114, 0115, 0116, 0117, 0118, 0120, 0121, 0122, 0123, 0124, 0125, 0126, 0127, 0129, 0130, 0132, 0133, 0135, 0137, 0138, 0139, 0140, 0142, 0143, 0144, 0145, 0146, 0147, 0149, 0151, 0152, 0153, 0155, 0156, 0158, 0159, 0160, 0163, 0165, 0166, 0167, 0168, 0169, 0170

[2015-04-07 14:44] benjaminrobinson commented on #128
@mepps Could you? Email these two lists as comma separated values files?  Thanks!

[2015-04-07 14:47] mepps commented on #128
Emailed

[2015-04-07 14:53] cmgiven commented on #132
This works for me.

[2015-04-07 14:56] benjaminrobinson commented on #128
:+1:

[2015-04-07 16:38] gwenrr opened #135 "LEA report card - teacher data"
Column heading says Undefined instead of This LEA

![screenshot 2015-04-07 12 37 10](https://cloud.githubusercontent.com/assets/7264714/7028295/f96b06d6-dd22-11e4-8acc-2b1d7b9bd6f1.png)

[2015-04-07 16:42] cmgiven commented on #135
This work is ongoing, under issue #131.

[2015-04-07 16:42] #135 closed

[2015-04-07 17:06] mepps commented on #131
![screen shot 2015-04-07 at 1 06 07 pm](https://cloud.githubusercontent.com/assets/4406809/7028866/e7b21340-dd26-11e4-8314-9189d454f1fb.png)

This has been fixed on staging!

[2015-04-07 17:18] cmgiven commented on #131
Confirmed. Thanks, Maggie.

[2015-04-07 17:18] #131 closed

[2015-04-08 15:57] mepps opened #136 "Staff degree: teacher category changed to school_category"
@benjaminrobinson was this key change on purpose and will it continue to future data imports? It requires changing the api schema. I'm not sure if you were trying to follow what I suggested, but I was only referring to changing the keys in hqt_classes. thanks!

[2015-04-08 15:58] benjaminrobinson commented on #128
Update.  I was suppressing data that had n sizes of less than ten so a bunch of schools were missing files completely.  Have since been told that that suppression was incorrect so a bunch more schools and LEAs will have those files now.  Will get back to you on this front shortly now that the situation has changed a little bit (not sure if this kind of request with just school and LEA codes and if

[2015-04-08 16:19] benjaminrobinson commented on #136
Woops!  I can change it back but I figured it would make sense to call the variable the same thing so I changed the key...Don't want to be too burdensome.

[2015-04-08 16:21] mepps commented on #136
I understood it to mean something different anyways. What really matters is consistency, and I think it probably makes sense to keep that key as it was.

[2015-04-08 16:37] benjaminrobinson commented on #136
So go back to calling it teacher_category?

[2015-04-08 16:38] mepps commented on #136
Yes, thanks!

[2015-04-08 16:58] #136 closed

[2015-04-08 18:12] mepps opened #137 "Staff degree LEA 0000"
https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/lea/0000/staff_degree.json

@benjaminrobinson There's a string in here causing it to be non-valid json. As an update, for some reason the data isn't importing and I'm trying to track down why.

[2015-04-08 18:16] benjaminrobinson commented on #137
That's a weird file...not sure how that was created but will commit a new one.

[2015-04-08 18:33] #137 closed

[2015-04-15 19:06] mepps commented on #130
@benjaminrobinson were you able to confirm this school should be deleted?

[2015-04-15 19:08] benjaminrobinson commented on #130
I would defer to @gwenrr or Jeff on this!  My instinct is yes because we don't report on Department of Youth Rehabilitative Services schools but let's play it safe and see what Jeff and Clem have to say!

[2015-04-17 18:26] gwenrr opened #138 "0% HQT showing at NaN%"
![screenshot 2015-04-17 14 24 19](https://cloud.githubusercontent.com/assets/7264714/7208279/973533ae-e50d-11e4-9509-9d88f9d7b95d.png)

Is there a way this could actually say 0% (it's because school / LEA has not reported)

I think this makes the data look like a mistake.

Gwen

[2015-04-17 19:19] benjaminrobinson commented on #138
@cmgiven:  The data, specifically in the HQT Classes exhibit has some files that show schools and LEAs that did not report to OSSE for the highly qualified collection at the time for whatever reason.  These schools' data shows 0 num_hq, 0 num_nhq, and 0 num_total yielding the "not a number" response on the website.  I don't think there's any way to change that to a 0 but Gwen and I are worried tha

[2015-04-17 19:38] cmgiven commented on #138
Yes. @mepps, if we can add a catch for any school that has a 0 as its num_total to report 0% on the site, that should address this case.

[2015-04-17 19:54] mepps commented on #138
![screen shot 2015-04-17 at 3 53 57 pm](https://cloud.githubusercontent.com/assets/4406809/7209792/fef90400-e519-11e4-96f3-b9bd041986a1.png)

Fixed on staging.

[2015-04-17 20:25] gwenrr commented on #138
Thanks so much, everyone. Better!

[2015-04-17 20:25] #138 closed

[2015-04-20 10:32] psteininger opened #139 "LEA: 0129?"
does this LEA still exist? It is in SD repo but not in DC-OSSE one

[2015-04-20 11:11] psteininger commented on #139
I take that back... I got cross-eyed looking in schools in one spot and leas in the other. HOWEVER... the dccas.json for LEA 129 is empty (file is there but no data). What should we do?

[2015-04-20 11:20] psteininger commented on #139
Since this is the only dccas.json changed in this load, I will assume it's non-intentional and not overwrite in learndc-data repo.

I pushed the changes and kicked off the import. As soon as it is successfully completed, it will be accessible via staging site

[2015-04-20 13:47] benjaminrobinson commented on #139
Hmm...that's weird.  Thanks for the update Piotr.  My local copy of the repo has a JSON file with data in it for that LEA.  Not sure what's going on but I think you did the right thing.  Thanks for the heads up!

![image](https://cloud.githubusercontent.com/assets/7928978/7231240/306efcf4-e742-11e4-88e3-660e971f2153.png)

[2015-04-20 13:49] #139 closed

[2015-04-20 15:35] #111 closed

[2015-04-21 13:32] gwenrr opened #140 "HQT / credential exhibit - no SY listed"
I am sorry - but I just noticed that, unlike other exhibits on the site, this one does not say which school year these data are for (2014). Is there an easy way to add that? Thanks.

[2015-04-21 13:34] benjaminrobinson commented on #140
That data element is in the data so it should be just a matter of finding a place to add it in...

[2015-04-21 13:38] cmgiven commented on #140
Good catch, Gwen. I have added this information to the description for the time being. However, we may want to explore adding that to the table headers in the near future. But hopefully this can keep LEA review on track.

Leaving this issue open for continued discussion,

[2015-04-21 13:45] benjaminrobinson opened #141 "Special Ed Exhibit API Link"
For some reason, the link to the API for the Special Ed exhibit has *special_id* instead of *special_ed*...this should be easily fixed

Example can be found on the DC LEA page on staging...not sure how systemic this is.  The special_ed data is there just the API link for the data download button just isn't showing there.  I'll assign @psteininger since Maggie's on a well deserved vacation this wee

[2015-04-21 14:59] gwenrr commented on #140
Thank you.

[2015-04-21 14:59] #140 closed

[2015-04-27 15:28] mepps commented on #141
Fixed on both prod and staging.

[2015-04-27 15:28] #141 closed

[2015-04-27 15:28] benjaminrobinson commented on #141
Thanks, @mepps!  Welcome back!  Hope you had a great vacation!

[2015-04-27 15:41] mepps commented on #130
@benjaminrobinson @gwenrr I wanted to circle back on this. Should we be deleting this school?

[2015-04-29 15:29] benjaminrobinson opened #142 "LEAs with no schools in the High or Low Poverty Quartile (i.e. "Middle" Quartiles schools)"
I think this may be a simple JavaScript coding workaround but we're getting some feedback from LEAs on the issue where LEAs that do not have schools in either the low or high poverty quartiles (i.e. only have a value for middle and not for the other two quartiles) in the HQT exhibit.  Is there a way to filter out the exhibit for these LEAs to only show the 'All Schools'.  @cmgiven or @mepps, pleas

[2015-04-29 15:30] mepps commented on #142
Thanks Ben! I'll look into this.

[2015-04-29 15:36] benjaminrobinson commented on #142
Thanks, @mepps!  I'll get back to you on #130 today since I will (just me!) be out of the office on Thursday and Friday! Thanks again!  Glad you're back!

[2015-05-05 13:40] mepps commented on #142
@benjaminrobinson @cmgiven The easiest way to fix this would be not to display sections if the total number of teachers overall is 0 (I previously added logic to display these values as 0). Does this sound correct to you?

[2015-05-06 17:51] benjaminrobinson opened #143 "Years on DCPS and PCS LEA Page are not Formatted Correctly"
![image](https://cloud.githubusercontent.com/assets/7928978/7499598/cdfb9002-f3f6-11e4-9aac-dc1304de0a1c.png)

![image](https://cloud.githubusercontent.com/assets/7928978/7499610/e410b840-f3f6-11e4-97d9-2e6f8dac3ffe.png)

[2015-05-06 17:53] gwenrr commented on #143
That's funny - I just noticed that on the state page, as well (though I do know why @benjaminrobinson and I are looking at this)
![screenshot 2015-05-06 13 09 22](https://cloud.githubusercontent.com/assets/7264714/7499686/4ef92f84-f3f7-11e4-8b75-97dec27a413c.png)

[2015-05-06 18:19] mepps commented on #143
I will look into this.

[2015-05-06 19:12] mepps commented on #143
This is an issue with the import that is currently promoted. In looking at the staging site, it is not an issue, so as soon as we promote the latest data it should be resolved:

![screen shot 2015-05-06 at 3 11 49 pm](https://cloud.githubusercontent.com/assets/4406809/7501494/438164a4-f402-11e4-9d84-41a42bdbef1e.png)

[2015-05-06 19:13] mepps commented on #142
@benjaminrobinson @cmgiven Any thoughts on this? I have the code change ready to go if you're comfortable with the logic from your knowledge of the data. I'm happy to explain on the phone if needed.

[2015-05-06 19:15] cmgiven commented on #142
This makes sense to me and is indeed what I'd recommend. @benjaminrobinson, does this address the issue?

[2015-05-06 19:19] benjaminrobinson commented on #142
I think this would solve the issue...does the end result mean that after implementing this code change, the LEAs mentioned above would only show the "All Schools" section and any other LEAs that for example have schools in the "Low-Poverty" quartile but no schools in the "High-Poverty" quartile would only have the "All Schools" and "Low-Poverty" sections showing?  If that is the case, then I'm sol

[2015-05-06 20:11] benjaminrobinson commented on #142
Is this the case, @mepps or @cmgiven?

[2015-05-06 20:14] cmgiven commented on #142
That's my understanding, yes.

[2015-05-06 20:15] benjaminrobinson commented on #142
Great.  That works then!

[2015-05-06 21:48] mepps commented on #142
I've pushed this fix to staging (this lea has no high-poverty schools for example).

![screen shot 2015-05-06 at 5 47 42 pm](https://cloud.githubusercontent.com/assets/4406809/7504417/06068d00-f418-11e4-9078-57d02ca8efde.png)

[2015-05-07 03:35] #142 closed

[2015-05-13 15:40] benjaminrobinson commented on #143
I think we're seeing some other issues around the site with the latest data not being promoted:  specifically around the PCSB PMF Links in the school overview tab and with the DCCAS exhibit not appearing on the live site's school report card tab.

[2015-05-15 20:13] mepps commented on #143
@benjaminrobinson it looks like the next data we could import has the restructured staff_degree exhibits, so would mess up the instructional staff exhibit on the front end. How is the review period going?

[2015-05-15 20:32] benjaminrobinson commented on #143
The review period ends on the 19th of May and then I need to do some more data cleaning and put together the data from the LEAs who submitted in this call for revisions (along with some submitting complete data for the '13-'14 school year just now) so I'm hoping to get things squared away within the next 2-3 weeks and fit in the enrollment data (once we deal with this last important but small issu

[2015-05-18 18:06] gwenrr commented on #106
Can we have an update on where this is? Thanks!

[2015-05-18 18:07] gwenrr commented on #106
In other words, it's still happening. (Just got an email from someone asking about it.)

[2015-05-18 19:59] cmgiven commented on #106
@gwenrr, we'd be happy to schedule a call to discuss what is needed here and how that work should flow. Let @wardkatherine and me know what work's best for you.

[2015-05-18 20:05] benjaminrobinson commented on #106
Welcome to GitHub, Katherine!  Should I add her to the Collaborator list, @cmgiven?

[2015-05-18 20:06] cmgiven commented on #106
Sure! Didn't realize she wasn't on (she's on the Social Driver repos). Thanks, Ben.

[2015-05-18 22:44] cmgiven commented on #106
Maggie has just deployed a new fix to production. I believe I have confirmed that this resolves the issue. Please let us know if you spot a recurrence.

[2015-05-18 22:44] #106 closed

[2015-05-19 21:38] gwenrr commented on #87
Why is this exhibit now hidden / not showing for this school on prod? (Briya / SC = 0126)

![screenshot 2015-05-19 17 34 52](https://cloud.githubusercontent.com/assets/7264714/7714559/81454c24-fe4d-11e4-84dc-acf0dee47cdb.png)

[2015-05-19 21:39] benjaminrobinson commented on #87
Its showing on staging...just an FYI!

[2015-05-19 21:39] benjaminrobinson commented on #87
![image](https://cloud.githubusercontent.com/assets/7928978/7714630/01d845b2-fe4e-11e4-9503-170cd5dd8804.png)

[2015-05-21 14:54] gwenrr opened #144 "Briya PCS (SC = 0126) - attendance"
Opening a new issue (was #87) because no one other than @benjaminrobinson responded to my question from a few days ago to the thread on the old issue

No attendance data showing on prod, though there is data on staging

![screenshot 2015-05-21 10 52 09](https://cloud.githubusercontent.com/assets/7264714/7751397/b7a5045c-ffa7-11e4-9b89-58f1dc4baf4a.png)

Thank you

[2015-05-21 15:32] cmgiven commented on #144
The production data does not have a `year` associated with the unexcused absences. @mepps, is there a workaround that we can implement, short of pushing the staging data live to production?

[2015-05-21 15:33] #87 closed

[2015-05-21 15:34] benjaminrobinson commented on #144
Hmm...Weird!
https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/school/0126/unexcused_absences.json

[2015-05-21 15:34] benjaminrobinson commented on #144
Did something happen in the import to the Social Driver repo?

[2015-05-21 15:35] benjaminrobinson commented on #144
Its got a year there too!
https://github.com/socialdriver/learndc-data/blob/master/converted/school/0126/unexcused_absences.json

[2015-05-21 15:38] cmgiven commented on #144
Should clarify, I'm just looking at what the API's returning, not what's in your files. Thus marking for Maggie to investigate.

[2015-05-21 15:38] benjaminrobinson commented on #144
Ah...I get it!  Good call!  Thanks for the clarification.

[2015-05-21 15:39] benjaminrobinson commented on #144
Or rather a bad call, if that joke is not lost on y'all...

[2015-05-21 15:42] benjaminrobinson commented on #144
When I'm looking at the production site's API call for the Unexcused Absences part of the attendance exhibit (along with ISA), the data download button call to the API is calling the attendance exhibit instead of the unexcused_absences data...Just another thing OI noticed if that helps!

[2015-05-22 14:03] mepps commented on #144
@cmgiven @benjaminrobinson I can definitely fix the data download button.

It seems to be a problem with that specific import. I can look do more research as to how that happened in the future, but in terms of the data, I was hoping I could import another dataset from the same time but the problem is that that would then be set as "latest" and displayed on staging. I was looking at promoting the A

[2015-05-22 15:39] cmgiven commented on #144
@benjaminrobinson, does that work for you? That would be the data as of February 25. Here's what it looks like at that point: https://github.com/socialdriver/learndc-data/tree/76bc4d770a856da3d5566febf5835f936f5dbcd3

[2015-05-22 17:44] benjaminrobinson commented on #144
@mepps Could you expound a little bit on what you mean by the "school_" files and what the "same issues with specific exhibits" mean?  Gwen isn't in the office today so I'm unsure if I have the authority to make that call but I'd definitely like to know more so I can inform her when we return on Tuesday...

[2015-05-26 17:25] gwenrr opened #145 "more on Briya PCS"
There is clearly more going on with Briya data flow. Data appear missing for PK4 on the prod site. In addition, grade level data on Equity Report also missing.

![screenshot 2015-05-26 13 12 26](https://cloud.githubusercontent.com/assets/7264714/7818576/a6d24962-03aa-11e5-985a-fa11a2beab69.png)
![screenshot 2015-05-26 13 12 06](https://cloud.githubusercontent.com/assets/7264714/7818577/a6d513e0-03

[2015-05-28 19:55] mepps commented on #144
I just saw this comment. The school_ files were ones we pulled out previously, I believe they stood in for another exhibit that was later added. How is the LEA review going? @gwenrr this relates to the other issue you opened. I'm hoping we can promote the data soon and that will resolve all these issues.

[2015-05-29 19:05] mepps opened #146 "Data download button unexcused absence"
@benjaminrobinson "When I'm looking at the production site's API call for the Unexcused Absences part of the attendance exhibit (along with ISA), the data download button call to the API is calling the attendance exhibit instead of the unexcused_absences data...Just another thing OI noticed if that helps!"

@benjaminrobinson can you tell me which attendance exhibit this is? Equity reports/profile/

[2015-05-29 19:05] mepps commented on #146
Realized it wouldn't be equity reports

[2015-05-29 19:11] mepps commented on #146
I found it. The challenge here is that this exhibit works differently from the others. The others display the same data multiple ways, where as this one in changing the tab you change what data is displaying and which exhibit it's grabbed from. I may have to think a bit longer about a fix.

[2015-05-29 21:53] benjaminrobinson commented on #144
LEA review period is over but I'm working on doing the cleaning/preparing of the new data to be combined and then do a few more quality checks.

[2015-06-01 16:36] benjaminrobinson commented on #146
Thanks for digging back into this!

[2015-06-05 13:25] mepps commented on #144
Exciting news! I believe Piotr and I were able to fix these issues, but would love confirmation from @benjaminrobinson @gwenrr @cmgiven

[2015-06-05 13:35] cmgiven commented on #144
I belive so. Would still appreciate your eyes @benjaminrobinson @gwenrr.

@mepps, when you get a chance, could you write up a summary of the issue, and in particular how we can improve our process in the future while waiting on long review periods to conclude? Thanks.

[2015-06-05 13:46] benjaminrobinson commented on #144
I'll take a look...thanks, @mepps! Gwen is out of the office for a week thing so she won't be as available today but I'm happy to take a look.

[2015-06-05 16:47] mepps commented on #145
I'm going to close this because this conversation is ongoing in #144. We believe this to be resolved, but @benjaminrobinson is looking over the data now.

[2015-06-05 21:07] benjaminrobinson commented on #144
Is this relevant anymore because of my new commush of data?  Just wondering!

[2015-06-05 21:08] mepps commented on #144
@benjaminrobinson yes because this is on the live site versus the staging data. It looks like people agree it's looking better but let's wait for @gwenrr's sign off on Monday. Great work on the data!

[2015-06-08 16:29] mepps opened #147 "HQT Numbers not adding up"
Numbers with highly qualified teachers and non not adding up correctly, see: https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/state/DC/hqt_classes.json

and

https://github.com/DC-OSSE/LearnDC_v2/blob/master/Export/JSON/lea/0001/hqt_classes.json

        "val": {
            "num_total_classes": 4561,
            "num_hq_classes": 3662,
            "num_nhq_classes": 1346
        }
36

[2015-06-08 16:48] benjaminrobinson commented on #147
Looking into it...its an aggregation issue so let me do some investigating!

[2015-06-08 16:52] benjaminrobinson commented on #147
Caught the problem...nasty little bugger!  Will re commush the data as soon as I re-run all the aggregators and ETL for the HQT exhibit!  Thanks, @mepps!  Good catch!

[2015-06-08 16:55] #147 closed

[2015-06-08 17:03] mepps commented on #147
@benjaminrobinson Awesome! Let me know when it's up

[2015-06-08 17:23] benjaminrobinson commented on #147
I made the commush about 15 minutes ago so we're good to go!

[2015-06-09 13:05] mepps opened #148 "Display school data by school level"
@benjaminrobinson this change is pushed, can you take a look? Here's an example:

http://stage.learndc.org/schoolprofiles/view?s=0198#reportcard

But also look at other pages to make sure nothing is wrong. So far in my checks it looks fine. Thanks!

[2015-06-09 13:11] benjaminrobinson commented on #148
Can do!  Just got into the office but I'm taking a look at it right now...

[2015-06-09 13:30] benjaminrobinson commented on #148
Things look good across schools that have more than one school_category for the HQT exhibit!  Great work, @mepps!

[2015-06-11 19:35] gwenrr commented on #144
Just getting back to this - and yes it looks better since now there is actually data there!

But here is the issue now. Prod site (including ER) says ISA = 82%; staging site says ISA = 73%. When I download data that are there, it says all student ISA = 82%. The only subgroup that is 73% = males. So maybe a metaphorical crossed wire somewhere? Is this waiting for a new commit?

[2015-06-11 19:36] mepps commented on #144
@gwenrr Just to clarify, is the prod data correct on this or staging? Thanks!

[2015-06-11 19:59] gwenrr commented on #144
This should not be a complicated answer, but it is. Sigh.

This school enrolls PK3 and PK4 and adults. 82% is the correct ISA rate for PK3 and PK4. This is what's on prod (both in the profile and in the Equity Report).

72% is the rate for adults. This is what's on the profile on staging.

82% is what I'd like it to show on staging and prod - in both profile and ER.

Thank you.

[2015-06-12 15:28] #148 closed

[2015-06-12 17:24] benjaminrobinson opened #149 "DC Report Card Attendance Exhibit"
We've received word from Tembo that the DC Report Card Attendance Exhibit, specifically the data for ISA is incorrect...not sure who this is on but apparently the data for that element should read 91% instead of 95%.  Looking into it, I found that the data was hard coded in by Tommy or Alex and sent to you all as a fully made JSON.  This JSON is one of the files that does not appear in the OSSE re

[2015-06-12 17:57] #145 closed

[2015-06-12 18:13] mepps commented on #128
@benjaminrobinson I found another school with this issue: 0126 (Briya). Should it have a staff_degree exhibit?

[2015-06-12 19:20] benjaminrobinson commented on #128
It should not...I made a small commit before the big one where I removed some schools' hqt_classes.json or staff_degree.json files...this is because these schools are special education or adult schools and we are not required to report on them for accountability purposes.  I also made the corresponding changes to the .gitignore file...

https://github.com/DC-OSSE/LearnDC_v2/commit/ef864d4827cac4dc

[2015-06-15 13:41] mepps commented on #144
![screen shot 2015-06-15 at 9 40 40 am](https://cloud.githubusercontent.com/assets/4406809/8161107/9d87f422-1342-11e5-86ee-0280d3517a0c.png)

![screen shot 2015-06-15 at 9 41 34 am](https://cloud.githubusercontent.com/assets/4406809/8161120/bcd564fe-1342-11e5-93c6-4666e53dcefd.png)

This is fixed on prod and staging.

[2015-06-15 13:53] mepps commented on #128
Hmm, I don't see Briya in the gitignore. I can remove it from our files for now, but let me know if there are others where I should remove them.

[2015-06-15 14:06] benjaminrobinson commented on #128
Ah....It might be that they didn't have a staff_degree.JSON file before and I never created one in the new post-appeals aggregation process (i.e. just removed them from ever having the possibility of having a file created).  The others (that I can think of!) that were removed were the adult/special education schools:
- Next Step (0168)
- Carlos Rosario (1119)
- St. Coletta (1047)
- Sharpe Health (

[2015-06-18 20:13] mepps opened #150 "Roosevelt Stay Has Grade 09 but no other?"
In new overview file, roosevelt has grade 09 added to accepted and serviced but only other grade is AO. Wanted to make sure this was correct @benjaminrobinson

[2015-06-18 20:13] mepps opened #151 "Eastern HS Rising to Rising Priority"
Only change Eastern HS was Rising to Rising Priority. Are these different categories and is this correct (not sure how that data is used)? @benjaminrobinson

[2015-06-18 20:19] mepps opened #152 "Does Roosevelt HS Accept Grade 08"
One more change to data files I wanted to verify @benjaminrobinson school 0459

[2015-06-18 20:19] mepps commented on #151
school code 0457

[2015-06-18 20:19] mepps commented on #150
school code 0456

[2015-06-18 20:20] benjaminrobinson commented on #151
It went from Rising Priority back  to Rising...weird situation but it is correct. That is the only accountability.json file that should have changed.

[2015-06-18 20:21] mepps commented on #151
Yes sorry in accountability, great it's staged

[2015-06-18 20:21] #151 closed

[2015-06-18 20:37] mepps opened #153 "Uncommitted changes in overview files"
school code 0456 -- grade 9 added
school code 0459 -- grade 8 added
school code 0861 -- grade 6 removed
school code 0471 --- grade 8 added

@benjaminrobinson and I chose not to commit these changes as it seemed unlikely data was correct.

[2015-06-19 16:04] gwenrr commented on #152
I don't think so. I think it's 9, 10, 11 and 12.

[2015-06-19 16:12] gwenrr commented on #150
Seems like Roosevelt STAY is AO. But seems like Ballou STAY has some grades. Looking at this, I'm not sure I trust what is on the prod site. Ballou STAY shows enrollment in 9 (through 2010), 10 (also through 2010) and 12 (through 2008). Nothing for 11. @benjaminrobinson - probably worth checking in with Stephanie about this

[2015-06-23 14:35] benjaminrobinson commented on #149
Just wondering if people have seen this!

[2015-06-23 14:37] #144 closed

[2015-06-23 14:43] benjaminrobinson commented on #149
@psteininger since Maggie is out of town?

[2015-06-23 14:44] #128 closed

[2015-06-23 15:27] benjaminrobinson opened #154 "Compare Schools Function Broken?"
Seems like something's rotten in the state of the comparison tool on LearnDC...

![image](https://cloud.githubusercontent.com/assets/7928978/8309889/ce169f2c-199a-11e5-8162-42266401eda8.png)

[2015-06-23 15:31] mepps commented on #149
@benjaminrobinson I will look into this this afternoon. Thanks!

[2015-06-23 15:37] benjaminrobinson commented on #154
Or @mepps?

[2015-06-23 17:54] mepps commented on #154
@benjaminrobinson This will a require a deeper dive, but it looks like the js for the comparison tool wasn't updated since some data schema changes took place. I should be able to update on this tomorrow morning. Thanks!

[2015-06-23 17:54] benjaminrobinson commented on #154
Great!  Phew...thought it might be something worse.  Thanks for the quick feedback!

[2015-06-23 21:30] mepps commented on #149
@benjaminrobinson made this change in the file and importing now

[2015-06-23 23:47] benjaminrobinson commented on #149
:+1:

[2015-06-24 12:47] mepps commented on #152
Thanks @gwenrr! I'm closing this for #153 as @benjaminrobinson tracks down where these numbers came from

[2015-06-24 12:47] #152 closed

[2015-06-24 12:54] mepps commented on #149
This is fixed in the latest data on staging.

[2015-06-24 12:54] #149 closed

[2015-06-24 13:02] cmgiven commented on #154
Looks like the same issue (?) is affecting the school search page's filters. Changing any of filters other than grade or location gives no results.

[2015-06-24 20:24] gwenrr opened #155 "Unexcused absences - school & state report cards"
We would like to hide this tab entirely for all schools and on the state report card
What would that require?

[2015-06-24 20:46] mepps commented on #155
@gwenrr Would this be a good agenda item for our check in next week or is more urgent?

[2015-06-24 21:01] benjaminrobinson commented on #154
Just as an FYI, I'll be out of the office for the rest of this week so I won't see if anything happens but please continue trying to fix this issue.  I know that there have been some rumblings among folks about the comparison tool not working...

[2015-06-24 22:39] gwenrr commented on #155
Not sure we will have a check in next week (scheduling and other issues). Is this something you could proceed on without one?

[2015-06-25 14:32] mepps commented on #154
@cmgiven @benjaminrobinson Just an update that I'm looking into this. It seems to be an issue with the api not being updated for the schools call since the data schema changed. Will communicate here when it's resolved.

[2015-06-25 19:06] mepps commented on #154
@cmgiven @benjaminrobinson @amberleyromo The comparison tool and the sidebar tool are back up and running. I just still need to look at subgroup names because I think that may still be an issue.

[2015-06-25 20:28] mepps commented on #154
@cmgiven @benjaminrobinson @amberleyromo And a final update that I have changed all the subgroup keys to be consistent with the latest data. Feel free to take a look now and let me know if you see any more issues.

[2015-06-26 12:44] mepps commented on #155
@gwenrr Do you want this hidden forever or for a shorter period of time? I ask because it will change how I hide it. I can schedule this for next week without the check in, but how long you want it hidden is very important to how it's done. Thanks!

[2015-06-26 18:03] gwenrr commented on #155
@mepps: I cannot imagine a scenario where we would want to display this again. Please hide forever, and let's hope I don't regret saying this!

[2015-06-29 13:44] mepps commented on #155
@gwenrr This change is deployed on staging. Let me know if it looks how you expected before we move it to production. Thanks!

[2015-07-01 21:47] mepps commented on #155
@gwenrr @benjaminrobinson Just wanted to follow up on this before the holiday weekend. Would you like me to deploy this tomorrow? Thanks!

[2015-07-02 15:32] mepps commented on #154
@benjaminrobinson @cmgiven I'm closing this based on my testing. Let me know if you see anymore issues.

[2015-07-02 15:32] #154 closed

[2015-07-02 15:33] mepps commented on #146
Closing this because it will be resolved by #155.

[2015-07-02 15:33] #146 closed

[2015-07-02 15:34] benjaminrobinson commented on #146
Two birds, one stone (don't think about it)...Thanks, @mepps!

[2015-07-02 15:35] mepps commented on #143
@benjaminrobinson @gwenrr Attaching screen shot of this resolved in production so closing this.
![screen shot 2015-07-02 at 11 34 26 am](https://cloud.githubusercontent.com/assets/4406809/8480894/5465dd4e-20ae-11e5-81b7-94955d3229fb.png)

[2015-07-02 15:36] mepps commented on #130
@benjaminrobinson did we ever get an answer on this?

[2015-07-02 15:37] mepps commented on #150
@benjaminrobinson can we close this in favor of #153?

[2015-07-02 15:37] benjaminrobinson commented on #150
I can dig it...

[2015-07-02 15:37] #150 closed

[2015-07-13 14:53] benjaminrobinson opened #156 "St. Coletta PCS LEA Staff Degree Exhibit"
For some reason, St Coletta PCS's LEA profile page has data showing despite no JSON file existing for its exhibit in either of our repos?  This data should be hidden...

![image](https://cloud.githubusercontent.com/assets/7928978/8652542/30cf52dc-294d-11e5-913b-b04ed6a52750.png)

https://github.com/DC-OSSE/LearnDC_v2/tree/master/Export/JSON/lea/0143
https://github.com/socialdriver/learndc-data/tre

[2015-07-13 14:56] mepps commented on #156
@benjaminrobinson , we do have a file, from a previous commit I guess (it's in the new format clearly). Should I delete it and re-import? Were any other school's staff_degree files deleted since the exhibit was reformatted? (In the past I've only found where they were deleted before the reformatting).

[2015-07-13 14:58] benjaminrobinson commented on #156
Ahh...yes.  Its the staff_degree file and not the hqt_classes file.  I included it in the OSSE .gitignore file so it should be removed and re-imported I guess...

https://github.com/DC-OSSE/LearnDC_v2/blob/master/.gitignore

[2015-07-13 14:59] benjaminrobinson commented on #156
Not sure if there are any others like this but my first guess is to say no but check other files that were removed and added to our .gitignore file...

[2015-07-13 15:04] mepps commented on #156
Is this correct in the gitignore:

Export/JSON/school/0168/staff_degree.json
Export/JSON/lea/0168/hqt_classes.json

that lea 0168 shouldn't have hqt classes and school 0168 shouldn't have staff_degree? Just wanted to make sure since they're the same code.

[2015-07-13 15:07] benjaminrobinson commented on #156
Good catch!  Luckily I did not remove LEA code 0168's files...that should be school code 0168...I've update it in the .gitignore and will re-commit it now!  Thanks!

[2015-07-13 15:08] benjaminrobinson commented on #156
LEA 0168 is Basis DC PCS, which should have a HQT Classes and Staff Degree exhibit...but school 0168 is The Next Step PCS, an adult/alternative high school, which should not have either of those!

[2015-07-13 15:32] mepps commented on #156
Cool, will wait for another commit from you? I've removed the other files but will do a full import when all the data is ready.

[2015-07-14 13:28] gwenrr opened #157 "Graduation data - St. Coletta"
We need to hide graduation exhibit for St. Coletta (SC = 1047) (LEA code = 0143)

[2015-07-14 18:10] benjaminrobinson commented on #157
Will close this thread and add this to #156 since its the same problem...

[2015-07-14 18:27] gwenrr commented on #157
This is not the same as #156 - this is about ACGR not HQT so I am reopening

[2015-07-14 18:36] benjaminrobinson commented on #157
It is a very similar problem...I removed St. Coletta's graduation and staff_degree files from the OSSE repo and added it to our .gitignore file...but the graduation file for St. Coletta is still showing in the Social Driver repo. @mepps.  Could you remove this file from the SD repo as well?

[2015-07-15 19:38] #155 closed

[2015-07-16 20:40] gwenrr commented on #156
May I ping on this again and ask for status? Thank you.

[2015-07-17 13:12] mepps commented on #156
@gwenrr I thought I was waiting for a commit from @benjaminrobinson but unless either of the LEA 0168 files have changed, I can go ahead and do a new import and close this.

[2015-07-17 13:14] mepps commented on #157
Removed files and importing now

[2015-07-17 13:15] #157 closed

[2015-07-17 13:15] mepps commented on #156
Doing the new import now, @benjaminrobinson let me know if there will be a new commit for that one file that was removed.

[2015-07-17 14:53] mepps commented on #156
This is resolved in prod now.

[2015-07-17 14:53] #156 closed

[2015-07-17 17:25] benjaminrobinson commented on #156
@mepps Thanks for getting this done!  So I never actually removed a file, I just accidentally included it in the .gitignore...I've made the commit changing the .gitignore back but just haven't made a push yet...

[2015-07-21 20:13] benjaminrobinson commented on #153
Hoping that a change I just made (but haven't commushed yet) will allow us to close this issue soon!  The change would mean that each school gets its "grades serviced" values from the grades in its most recent enrollment audit year rather than the grades served in the most current roster feed.  Will let you know when I am about to make the commush!

[2015-07-22 14:08] benjaminrobinson commented on #153
I think this issue should close after my fix to the overview files...also for some reason I didn't push all the new enrollment data last time so the rest of the LEAs should have new data after whenever the next import happens!

[2015-07-22 14:11] benjaminrobinson commented on #77
Closing #153 should allow us to close this one too!  Only time will tell...

[2015-07-22 17:04] mepps opened #158 "School code 3077 address line 2"
@benjaminrobinson I'm not sure if this is an issue at all, but I'm opening this so I remember to look at this on the staging site after the data push :). There are a couple schools like this and I suspect it will be fine, but wanted to have a check in place.

[2015-07-22 17:06] mepps opened #159 "School 1207 zip code changed to wrong zip code"
100 peabody st nw went from 20011 to 20010 and google maps says 20011 is correct.

[2015-07-22 17:08] mepps commented on #159
the same thing happened to 1124, 620 milwaukee pl se 20032->200002

[2015-07-23 15:59] gwenrr opened #160 "Most recently pushed enrollment data"
Quick question: When you hit the "download" button from the staging site, the 2014 enrollment data is not there. Is that some special situation about the staging site that pushing to prod addresses, or is that something that needs to be addressed on staging? Thank you.

Gwen

[2015-07-23 19:00] mepps commented on #160
@gwenrr @benjaminrobinson I can look into this this afternoon. Can you tell more about what's going on? Is this only LEAs or schools or both? My most recent data import on staging was just lea enrollment data and I don't think any other changes have been made between prod and staging.

[2015-07-23 19:03] mepps commented on #160
Looking at staging just now, I'm seeing the 2014 data for school 0259 in the download. Let me know if you see something different.

[2015-07-23 19:05] benjaminrobinson commented on #160
When Gwen and I were looking at this earlier today, it was just on the LEA profiles on the staging site...the fact that the visualization contains the 2014 enrollment audit data but the API call to the data download button does not contain that data.

[2015-07-23 19:06] gwenrr commented on #160
from what I can see, this problem affects only LEAs (with the exception of the faux PCS sector report card on the LEA list). School and state report cards seem to include 2014 data when you hit the "download" button

[2015-07-23 20:37] mepps commented on #160
@gwenrr That was a great catch! The issue was that the download wasn't pulling the latest code but the promoted code. (Luckily this means that production never had an issue). This is fixed in staging now.

[2015-07-23 20:37] #160 closed

[2015-07-24 15:09] gwenrr commented on #160
Can we promote to prod now? Thanks.

[2015-07-24 15:17] mepps commented on #160
@gwenrr That was done 10 minutes ago at @benjaminrobinson's  request :).

[2015-07-24 15:19] benjaminrobinson commented on #160
:+1:

[2015-08-25 12:59] gwenrr opened #161 "Loading problems - attendance and demographics"
Some loading problems on the site - equity and profile both, PCS and DCPS both
![screenshot 2015-08-25 08 56 27](https://cloud.githubusercontent.com/assets/7264714/9467134/8477d3ce-4b07-11e5-85c6-9dc5ced32f38.png)
![screenshot 2015-08-25 08 56 11](https://cloud.githubusercontent.com/assets/7264714/9467137/8893d624-4b07-11e5-93c5-bb0be7ed3488.png)

[2015-08-25 13:10] cmgiven commented on #161
Example school that shows the issue: http://www.learndc.org/schoolprofiles/view?s=3068#equityreport

[2015-08-25 13:12] amberleyromo commented on #161
Looping in @psteininger to take look.

[2015-08-25 18:29] psteininger commented on #161
@cmgiven I will take a look tomorrow morning. There seems to be some javascript errors. I'll update tomorrow

[2015-08-25 20:06] michaelaskew-sd opened #162 "Loading problems (2) - Basis DC PCS - Attendance visualization"
Originally in #161. The visual is returning nothing at all. Seems to be specfic to this school, but should try and recreate locally and test around other schools.

Screenshot from http://www.learndc.org/schoolprofiles/view?s=0402#equityreport:

![image](https://cloud.githubusercontent.com/assets/9823840/9477961/181bd6ee-4b43-11e5-9aa9-7137fd60d99a.png)

[2015-08-25 20:07] michaelaskew-sd commented on #161
Separated the second screenshot into #162. This also appears to be specific to this school. We are trying to replicate locally and will test across other schools.

[2015-08-26 16:03] psteininger commented on #161
@cmgiven @amberleyromo  - @michaelaskew-sd  and i spent some time debugging, and it turned out that the source of the problem was corrupted cache. For some reason some data was simply not coming back (i.e. year, which made impossible to get the max year for data, and subsequent call).

I checked the metrics on RedisCloud and it appears that what may very likely be the cause of corrupted cache is t

[2015-08-26 16:03] #161 closed

[2015-08-26 16:07] psteininger commented on #161
supporting evidence:
![image](https://cloud.githubusercontent.com/assets/411705/9499059/539be5d0-4c1d-11e5-8ab9-64e962c9c821.png)

[2015-08-26 16:16] amberleyromo commented on #162
Reference: #161

[2015-08-26 16:16] #162 closed

[2015-09-08 16:21] benjaminrobinson opened #163 "Links to Equity Reports for Schools without Equity Reports"
From @gwenrr:
"*Just noticing (because of a question from an external stakeholder) that these schools***, which do not have 2014 equity reports, still have links on their overview pages to a 2013-2014 equity report. Those links go nowhere.*

*Some of them (a couple of the DCPS schools I looked at) also have 2012-2013 links that go nowhere. Looks like they may never have had equity reports. This sh

[2015-09-18 16:36] benjaminrobinson opened #164 "Attendance Exhibit on DC Report Card needs text/language change"
![image](https://cloud.githubusercontent.com/assets/7928978/9965026/c39e64de-5e01-11e5-90d0-894f7ecbe970.png)

It should read **has not met**...

[2015-09-21 16:30] #164 closed

[2015-09-24 09:33] psteininger opened #165 "Issue with file format"
@benjaminrobinson I am working on implementing the compression into the workflow, but as a side effect I discovered an issue introduced into the existing data. most overview files for schools have a formatting issue. see these lines: https://github.com/DC-OSSE/LearnDC_v2/blame/master/Export/JSON/school/0099/overview.json#L32-L33
it should all be on 1 line, otherwise Ruby says JSON is malformed. I

[2015-09-24 09:36] psteininger commented on #165
@benjaminrobinson On second look, this may be an issue with something else

[2015-09-24 09:40] psteininger commented on #165
it looks like I somehow was working off of an old version of the transfer code. sorry for the false alarm

[2015-09-24 09:40] #165 closed

[2015-09-24 12:01] benjaminrobinson commented on #165
Hahah...No worries, @psteininger!  I know you're just doing your due diligence.  Thanks!

[2015-10-20 18:40] benjaminrobinson commented on #143
Seeing this on the main page too but not on staging for the DC enrollment audit exhibit in the school profiles. @aaditya-madala @psteininger

[2015-10-20 18:43] benjaminrobinson commented on #143
Just for everyone's information this issue does not show in the All Grades, All Subgroups but just (that I can see) within All Grades, Economically Disadvantaged.

![image](https://cloud.githubusercontent.com/assets/7928978/10617498/e51ce5ae-7738-11e5-8f82-3bee35e788a2.png)

[2015-10-20 21:18] #143 closed

[2015-12-21 22:56] gwenrr commented on #101
To anyone who still receives emails from this GitHub: Do you remember this whether we decided not to move forward on publishing the LEA APR data because of this?

[2015-12-29 16:26] benjaminrobinson commented on #101
I think this is definitely one of the reasons along with the Equity Report stuff I think we were still dealing with...this just wasn't a priority anymore of the leftover funds we had.